// bbPress wrapper
.bbpress-wrapper {

	// Base font-size
	&#bbpress-forums {
		ul.bbp-forums,
		ul.bbp-lead-topic,
		ul.bbp-replies,
		ul.bbp-search-results,
		ul.bbp-topics {
			@include media-breakpoint-up(sm) {
				font-size: 0.875rem;
			}
		}
	}

	// Forum / Topic header font-size
	&#bbpress-forums {
		li.bbp-footer, li.bbp-header {
			font-size: 0.75rem;
		}
	}

	// Topics font size
	.forums.bbp-replies .bbp-body .bbp-reply-content {
		line-height: 1.5;
		@include media-breakpoint-up(sm) {
			font-size: 1rem;
		}
	}

	// Add Bootstrap alerts
	div.bbp-template-notice, 
	.bbpress-wrapper div.indicator-hint {
		@extend .alert;
		
		// add a default color in case no colors are defined
		@include alert-variant($warning, $warning, $warning);
		a {
			color: shade-color($warning, 20%);
		}

		&.info {
			@include alert-variant($info, $info, $info);
			a {
				color: shade-color($info, 20%);
			}
		}
		&.important {
			@include alert-variant($warning, $warning, $warning);
			a {
				color: shade-color($warning, 20%);
			}
		}
		&.error, &.warning {
			@include alert-variant($danger, $danger, $danger);
			a {
				color: shade-color($danger, 20%);
			}
		}
		li, p {
			margin: 0 !important;
		}
	}

	// Base buttons
	&#bbpress-forums {
		.button.submit,
		input.button {
			@extend .btn;
		}
	}

	// Search form
	&#bbpress-forums {
		#bbp-search-form {
			margin-bottom: .75rem;
			#bbp_search {
				vertical-align: middle;
			}
		}
	}

	// Pagination
	&#bbpress-forums {
		.bbp-pagination {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			@media (min-width: 768px) {
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
			}

			.bbp-pagination-count {
				margin-bottom: .5rem;
				@media (min-width: 768px) {
					margin-bottom: 0;
				}
			}
		
			.bbp-pagination-links {
				@extend .pagination;
				@extend .pagination-sm;
				font-size: .875rem;
				line-height: 1.5;
				justify-content: flex-end;
				flex-wrap: nowrap;
				.page-item {
					@extend .page-item;
				}
				.page-link {
					@extend .page-link;
					padding: .25rem .4rem;
					@include media-breakpoint-up(sm) {
						padding: .25rem .5rem;
					}
				}
			}
		}
	}

	// Avatars
	&#bbpress-forums {
		div.bbp-forum-author img.avatar,
		div.bbp-reply-author img.avatar,
		div.bbp-topic-author img.avatar {
			border-radius: 50%;
			margin-bottom: .25rem;
		}
	}

	// Forms
	&#bbpress-forums {
		fieldset.bbp-form input[type="text"], 
		fieldset.bbp-form select {
			@extend .form-control;
		}
	}
	
	// User profiles
	&#bbpress-forums #bbp-user-wrapper {
			display: flex;
			flex-direction: column;
			flex: 0 0 100%;
		
		// User avatar and nav menu
		#bbp-single-user-details {
			width: 100%;
			#bbp-user-avatar {
				width: 100px;
			}
			#bbp-user-avatar img.avatar {
				border-radius: 50%;
				height: auto;
				width: 100px;
			}
			#bbp-user-navigation {
				margin-bottom: 1rem;
				ul {
					@extend .nav;
					flex-direction: column;
					@include media-breakpoint-up(sm) {
						flex-direction: row;
					}
				}
				@include media-breakpoint-up(sm) {
					font-size: 0.875rem;
				}
				a {
					padding: 7px 8px;
				}
				li.current a {
					opacity: 1;
				}
			}
		}

		// User body
		#bbp-user-body {
			margin-left: 0;
		}
		
		// User profile display
		.bbp-user-section {
			line-height: 1.5;
			@include media-breakpoint-up(sm) {
				font-size: 0.875rem;
			}
		}

		// User profile edit
		#bbp-your-profile fieldset.bbp-form {
			margin-bottom: 2rem;
		}
		#bbp-your-profile fieldset.submit {
			padding-top: 0;
		}
		#bbp-your-profile fieldset input,
		#bbp-your-profile fieldset textarea,
		#bbp-your-profile fieldset select {
			@extend .form-control;
		}
		#bbp-your-profile fieldset.bbp-form input.checkbox {
			width: auto;
			height: calc(1em + .75rem + 2px);
		}
		#bbp-your-profile fieldset textarea {
			height: auto;
		}
		#bbp-your-profile fieldset label[for] {
			text-align: left;
			width: 100%;
			@include media-breakpoint-up(sm) {
				font-size: 0.875rem;
			}
		}
		#bbp-your-profile .pw-weak label {
			width: 20% !important;
		}
		#bbp-your-profile #password {
			.button {
				@extend .btn;
			}
			#pass-strength-result {
				@extend .alert;

				&.strong {
					@include alert-variant($success, $success, $success);
					a {
						color: shade-color($success, 20%);
					}
				}
				&.good {
					@include alert-variant($warning, $warning, $warning);
					a {
						color: shade-color($warning, 20%);
					}
				}
				&.bad, &.short {
					@include alert-variant($danger, $danger, $danger);
					a {
						color: shade-color($danger, 20%);
					}
				}
			}
		}

		// Profile topics and replies search form
		#bbp-user-body {
			#bbp-topic-search-form,
			#bbp-reply-search-form {
				margin-bottom: .75rem;
				div {
					display: flex;
					flex-flow: nowrap;
				}
				input[type="text"] {
					margin-right: .25rem;
				}
			}
		}
	}
	
	// Forums / Topics overview responsiveness fixes
	// On small screens convert to flexbox and hide some elements 
	&#bbpress-forums {

		// Remove topic voice count 
		.bbp-topic-voice-count {
			display: none;
		}

		// Make topic freshness column bigger
		li.bbp-topic-freshness {
			width: 35%;
		}

		// Forums / Topics header
		li.bbp-header {
			li.bbp-forum-info, li.bbp-topic-title {
				@include media-breakpoint-down(xs) {
					text-align: left;
				}
			}
			li.bbp-forum-topic-count,
			li.bbp-forum-reply-count,
			li.bbp-forum-freshness,
			li.bbp-topic-reply-count,
			li.bbp-topic-freshness {
				@include media-breakpoint-down(xs) { 
					display: none;
				}
			}
		}

		// Forums / Topics body
		li.bbp-body ul.forum, 
		li.bbp-body ul.topic {
			padding: 0.625rem;

			@include media-breakpoint-down(xs) { 
				display: flex;
				flex-direction: column;
			}
			
			li.bbp-forum-info,
			li.bbp-topic-title {
				@include media-breakpoint-down(xs) { 
					width: 100%;
				}
			}

			// Descriptive text for mobile (topic, post, last post) 
			.c-bbp-topic-count,
			.c-bbp-post-count,
			.c-bbp-freshness-text {
				@include media-breakpoint-up(sm) {
					display: none;
				}
			}

			li.bbp-forum-reply-count, 
			li.bbp-forum-topic-count, 
			li.bbp-topic-reply-count, 
			li.bbp-topic-voice-count,
			li.bbp-forum-freshness, 
			li.bbp-topic-freshness {
				@include media-breakpoint-down(xs) { 
					width: 100%;
					text-align: left;
				}
			}
			
			p.bbp-topic-meta {
				span {
					white-space: normal;
					@include media-breakpoint-up(sm) {
						white-space: nowrap;
					}
				}
			}

			li.bbp-topic-freshness,
			li.bbp-forum-freshness {
				.bbp-topic-meta {
					@include media-breakpoint-down(xs) { 
						display: none;
					}
				}
			}
		}
	}

	// Topics admin links
	&#bbpress-forums {
		.bbp-replies .bbp-body {
			.bbp-admin-links {
				display: block;
				width: 100%;
				float: left;
			}
		}
	}
}

// Widget changes
// Login widget
.bbp_widget_login .avatar {
	border-radius: 50%;
}
// Search widget
.widget_display_search #bbp-search-form {
	#bbp_search {
		margin-bottom: .75rem;
	}
	#bbp_search_submit {
		@extend .btn;
	}
}
