// bbPress wrapper
.bbpress-wrapper {

	// Base font-size
	&#bbpress-forums {
		ul.bbp-forums,
		ul.bbp-lead-topic,
		ul.bbp-replies,
		ul.bbp-search-results,
		ul.bbp-topics {
			@media (min-width: 576px) {
				font-size: 0.875rem;
			}
		}
	}

	// Forum / Topic header font-size
	&#bbpress-forums {
		li.bbp-footer, li.bbp-header {
			font-size: 0.75rem;
		}
	}

	// Topics font size
	.forums.bbp-replies .bbp-body .bbp-reply-content {
		line-height: 1.5;
		@media (min-width: 576px) {
			font-size: 1rem;
		}
	}

	// Forum and topic item padding
	&#bbpress-forums {
		li.bbp-body ul.forum,
		li.bbp-body ul.topic {
			padding: 0.625rem;
		}
	}

	// Add Bootstrap alerts
	div.bbp-template-notice, 
	.bbpress-wrapper div.indicator-hint {
		@extend .alert;
		
		// add a default color in case no colors are defined
		@include alert-variant(theme-color-level(warning, $alert-bg-level), theme-color-level(warning, $alert-border-level), theme-color-level(warning, $alert-color-level));
		a {
			font-weight: $alert-link-font-weight;
			color: darken($yellow, 10%);
		}

		&.info {
			@include alert-variant(theme-color-level(info, $alert-bg-level), theme-color-level(info, $alert-border-level), theme-color-level(info, $alert-color-level));
			a {
				font-weight: $alert-link-font-weight;
				color: darken($cyan, 10%);
			}
		}
		&.important {
			@include alert-variant(theme-color-level(warning, $alert-bg-level), theme-color-level(warning, $alert-border-level), theme-color-level(warning, $alert-color-level));
			a {
				font-weight: $alert-link-font-weight;
				color: darken($yellow, 10%);
			}
		}
		&.error, &.warning {
			@include alert-variant(theme-color-level(danger, $alert-bg-level), theme-color-level(danger, $alert-border-level), theme-color-level(danger, $alert-color-level));
			a {
				font-weight: $alert-link-font-weight;
				color: darken($red, 10%);
			}
		}
		li, p {
			margin: 0 !important;
		}
	}

	// Base buttons
	&#bbpress-forums {
		.button.submit,
		input.button {
			@extend .btn;
		}
	}

	// Search form
	&#bbpress-forums {
		#bbp-search-form {
			margin-bottom: .75rem;
			#bbp_search {
				vertical-align: middle;
			}
		}
	}

	// Pagination
	&#bbpress-forums {
		.bbp-pagination {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			@media (min-width: 768px) {
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
			}

			.bbp-pagination-count {
				margin-bottom: .5rem;
				@media (min-width: 768px) {
					margin-bottom: 0;
				}
			}
		
			.bbp-pagination-links {
				@extend .pagination;
				@extend .pagination-sm;
				font-size: .875rem;
				line-height: 1.5;
				justify-content: flex-end;
				flex-wrap: wrap;
				.page-item {
					@extend .page-item;
				}
				.page-link {
					@extend .page-link;
					padding: .25rem .4rem;
					@media (min-width: 576px) {
						padding: .25rem .5rem;
					}
				}
			}
		}
	}

	// Avatars
	&#bbpress-forums {
		div.bbp-forum-author img.avatar,
		div.bbp-reply-author img.avatar,
		div.bbp-topic-author img.avatar {
			border-radius: 50%;
			margin-bottom: .25rem;
		}
	}

	// Forms
	&#bbpress-forums {
		fieldset.bbp-form input[type="text"], 
		fieldset.bbp-form select {
			@extend .form-control;
		}
	}
	
	// User profiles
	&#bbpress-forums #bbp-user-wrapper {
		
		// User avatar and nav menu
		#bbp-single-user-details {
			#bbp-user-avatar img.avatar {
				border-radius: 50%;
			}
			#bbp-user-navigation {
				@media (max-width: 575.98px) {
					margin-bottom: 1rem;
				}
				@media (min-width: 576px) {
					font-size: 0.875rem;
				}
				a {
					padding: 7px 8px;
				}
				li.current a {
					opacity: 1;
				}
			}
		}
		
		// User profile display
		.bbp-user-section {
			line-height: 1.5;
			@media (min-width: 576px) {
				font-size: 0.875rem;
			}
		}

		// User profile edit
		#bbp-your-profile fieldset.bbp-form {
			margin-bottom: 2rem;
		}
		#bbp-your-profile fieldset.submit {
			padding-top: 0;
		}
		#bbp-your-profile fieldset input,
		#bbp-your-profile fieldset textarea,
		#bbp-your-profile fieldset select {
			@extend .form-control;
		}
		#bbp-your-profile fieldset.bbp-form input.checkbox {
			width: auto;
			height: calc(1em + .75rem + 2px);
		}
		#bbp-your-profile fieldset textarea {
			height: auto;
		}
		#bbp-your-profile fieldset label[for] {
			text-align: left;
			width: 100%;
			@media (min-width: 576px) {
				font-size: 0.875rem;
			}
		}
		#bbp-your-profile .pw-weak label {
			width: 20% !important;
		}
		#bbp-your-profile #password {
			.button {
				@extend .btn;
			}
			#pass-strength-result {
				@extend .alert;

				&.strong {
					@include alert-variant(theme-color-level(success, $alert-bg-level), theme-color-level(success, $alert-border-level), theme-color-level(success, $alert-color-level));
					a {
						font-weight: $alert-link-font-weight;
						color: darken($success, 20%);
					}
				}
				&.good {
					@include alert-variant(theme-color-level(warning, $alert-bg-level), theme-color-level(warning, $alert-border-level), theme-color-level(warning, $alert-color-level));
					a {
						font-weight: $alert-link-font-weight;
						color: darken($yellow, 20%);
					}
				}
				&.bad, &.short {
					@include alert-variant(theme-color-level(danger, $alert-bg-level), theme-color-level(danger, $alert-border-level), theme-color-level(danger, $alert-color-level));
					a {
						font-weight: $alert-link-font-weight;
						color: darken($red, 20%);
					}
				}
			}
		}

		// Profile topics and replies search form
		#bbp-user-body {
			#bbp-topic-search-form,
			#bbp-reply-search-form {
				margin-bottom: .75rem;
				div {
					display: flex;
				}
				input[type="text"] {
					margin-right: .25rem;
				}
			}
		}
	}
	
	// Forums / Topics responsiveness fixes on small screens
	// Convert to flexbox and hide some elements 
	&#bbpress-forums {

		// Forums / Topics header
		li.bbp-header {
			li.bbp-forum-info, li.bbp-topic-title {
				@media (max-width: 575.98px) {
					text-align: left;
				}
			}
			li.bbp-topic-voice-count,
			li.bbp-topic-reply-count,
			li.bbp-topic-freshness {
				@media (max-width: 575.98px) { 
					display: none;
				}
			}
		}

		// Forums / Topics body
		li.bbp-body ul.forum, 
		li.bbp-body ul.topic {
			@media (max-width: 575.98px) { 
				display: flex;
				flex-direction: column;
			}
			
			li.bbp-forum-info, li.bbp-topic-title {
				@media (max-width: 575.98px) { 
					width: 100%;
				}
			}

			li.bbp-topic-voice-count {
				@media (max-width: 575.98px) { 
					display: none;
				}
			}
			li.bbp-forum-reply-count, 
			li.bbp-forum-topic-count, 
			li.bbp-topic-reply-count, 
			li.bbp-topic-voice-count,
			li.bbp-forum-freshness, 
			li.bbp-topic-freshness {
				@media (max-width: 575.98px) { 
					width: 100%;
					text-align: left;
				}
			}
			
			p.bbp-topic-meta {
				span {
					white-space: normal;
					@media (min-width: 576px) {
						white-space: nowrap;
					}
				}
			}
		}
	}
}

// Widget changes
// Login widget
.bbp_widget_login .avatar {
	border-radius: 50%;
}
// Search widget
.widget_display_search #bbp-search-form {
	#bbp_search {
		margin-bottom: .75rem;
	}
	#bbp_search_submit {
		@extend .btn;
	}
}