// All inputs except radios and checkboxes inherit form-control
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	@extend .form-control;
}

select {
	@extend .form-select;
}

form label {
	@extend .form-label;
}

// Fonts color
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $body-color;
}

b,
strong {
  font-weight: bold;
}

body,
input,
select,
textarea {
	color: $body-color;
}

// Basic wrapper
.wrapper {
	padding: 2rem 0 3rem;
	word-wrap: break-word;
}

// Content wrapper - if fullwidth page add overflow hidden
// Prevents horizonal scrollbar w/ Gutenberg alignfull
.no-sidebar .content-wrapper {
	overflow-x: hidden;
}

// Container width
.container-fluid {
	max-width: 1140px;
}

// Width utilities
.w-md-80 {
	@include media-breakpoint-up(md) {
		width: 80%;
	}
}
.w-md-95 {
	@include media-breakpoint-up(md) {
		width: 95%;
	}
}
.w-lg-60 {
	@include media-breakpoint-up(lg) {
		width: 60%;
	}
}
.w-lg-90 {
	@include media-breakpoint-up(lg) {
		width: 90%;
	}
}

// Spacing
address,
ol,
ul,
dl,
.blockquote,
blockquote,
.table,
table,
figure {
	margin-bottom: 1.5rem;
}

// Content clearing
article {
	.entry-content {
		&::after {
			display: block;
			clear: both;
			content: "";
		}
	}
}

// Img hover effects
a.c-news__img-link {
	background: #000;
	border-radius: 4px;
	img {
		transition: 0.3s;
		&:hover {
			transition: 0.3s;
			opacity: 0.8;
		}
	}
}

// Blog article cards margin
.archive,
.blog {
	article.card.post {
		margin-bottom: 3rem;

		&:first-of-type {
			margin-top: 1rem;
		}
		&:last-of-type {
			margin-bottom: 2rem;
		}
	}
}

// Homepage and builder wrappers
#homepage-wrapper.wrapper,
#builder-wrapper.wrapper {
	padding: 0;
}

// Homepage sections intro
.page-template-homepage section .c-intro .c-intro__inner {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	@include media-breakpoint-up(md) {
		margin-bottom: 3rem;
	}
}
section p.subtitle {
	color: #6c757d;
	margin-bottom: 1rem;
}

// Page/Post featured image
.conversions-hero-cover {
	margin: -34px 0 2rem;
	padding: 2em 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

// Post entry meta
.entry-footer {
	color: $text-muted;
	a {
		color: $text-muted;
		text-decoration: underline;
		&:hover {
			color: #5a6268;
		}
	}
}
.entry-meta {
	margin: 0 0 1em;
	font-size: 0.9rem;
	color: $text-muted;
	a {
		color: $text-muted;
		text-decoration: underline;
		&:hover {
			color: #5a6268;
		}
	}
}

// post author icon
.c-posted-by {
	&::before {
		font-family: "Font Awesome 5 Free";
		content: "\f007";
		color: $text-muted;
		margin-right: 2px;
	}
}
// post date icon
.c-posted-on {
	&::before {
		font-family: "Font Awesome 5 Free";
		content: "\f073";
		color: $text-muted;
		margin-right: 3px;
	}
}
// post comments icon
.c-single-comments {
	&::before {
		font-family: "Font Awesome 5 Free";
		content: "\f075";
		color: $text-muted;
		margin-right: 2px;
	}
}
// post reading time icon
.c-reading-time {
	&::before {
		font-family: "Font Awesome 5 Free";
		content: "\f017";
		color: $text-muted;
		margin-right: 2px;
	}
}

// Single post meta/navs/related spacing
.single {
	.entry-footer,
	.post-navigation,
	.c-related-posts {
		margin: 1.5rem 0;
	}
	.comment-navigation {
		margin: 1rem 0;
	}
	.post-navigation .nav-links {
		flex: 0 0 100%;
		flex-flow: wrap;
		.nav-previous {
			margin-right: 2rem;
		}
	}
}

// Related posts
.c-related-posts {
	.col-12 {
		padding: 0;
	}
	p {
		font-size: 0.9rem;
		margin-bottom: 1rem;
	}
}

// card title
.card-title {
	color: inherit;
}

// list group
.list-group-item.active {
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: inherit;
	}
}

// 404 spacing
#error-404-wrapper #main form#searchform,
#error-404-wrapper #main div.widget {
	margin-bottom: 1.5rem;
}
