// adminbar position fix on small screens
html #wpadminbar {
  @media screen and (max-width:600px) {
    position: fixed;
  }
}

// adminbar add space when active
.admin-bar #wrapper-navbar.fixed-top {
  top: 46px;
  @media screen and (min-width: 783px) {
    top: 32px;
  }
}

// Some basic padding for all wrappers
.wrapper {
  padding: $grid-gutter-width 0; 
}

// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor {
  font-size: inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky { border-bottom: 1px solid $gray-300; }

// Adding some contrast background color to footer full widget
#wrapper-footer-full { 
  background-color: $gray-200; 
  .footer-widget {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

// Necessary WP classes
.wp-caption { 
  font-size: inherit; 
}
.wp-caption-text { 
  font-size: inherit; 
}
.screen-reader-text { 
  @extend .sr-only; 
}
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter { 
  @extend .mx-auto; 
}

// Post design
.entry-footer span { 
  padding-right: 10px; 
}

// Limit featured image size to 100%
img.wp-post-image,
article img,
figure,
img,
#secondary img {
  max-width: 100%;
  height: auto;
}

// Skip to content link
a.skip-link {
  position: fixed;
  z-index: 1000;
  top: 0px;
  right: 0px;
}

// Navbar styles
.navbar {
  &.navbar-light .navbar-brand a {
     color: $navbar-light-active-color;
    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }

  &.navbar-dark .navbar-brand a {
    color: $navbar-dark-active-color;
    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }
  
  h1 { 
    font-weight: $font-weight-normal;
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    ul.navbar-nav {
      display: inline-block;
      li.menu-item {
        display: inline-block;
        a.nav-link {
          white-space: nowrap;
        }
      }
    }
  }

  // offcanvas menu on mobile devices 
  @media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      bottom: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      /* transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out; */
      /* transition: transform .3s ease-in-out, visibility .3s ease-in-out; */
      transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
      z-index: 999;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

}

// when offcanvas open prevent horizontal scrolling
html.offcanvas-overflowx, body.offcanvas-overflowx {
  overflow-x: hidden;
}

// Navbar dropdown styles
.navbar-dark .navbar-nav .dropdown-menu .nav-link{
  display: block;
  width: 100%; // For `<button>`s
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  clear: both;
  font-weight: $font-weight-normal;
  color: $dropdown-link-color !important;
  text-align: inherit; // For `<button>`s
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background: none; // For `<button>`s
  border: 0; // For `<button>`s

  @include hover-focus {
    color: $dropdown-link-hover-color !important;
    text-decoration: none;
    background-color: $dropdown-link-hover-bg;
  }

  &.active,
  &:active {
    color: $dropdown-link-active-color !important;
    text-decoration: none;
    background-color: $dropdown-link-active-bg;
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color !important;
    background-color: transparent;
    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }
  }
}

// navbar search modal
.admin-bar #csearchModal {
  z-index: 100000;
}
#csearchModal {
  .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
  }
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    background: #333;
  }
  .modal-header {
    display: flex;
    justify-content: end;
    border-bottom: 0;
  }
  .modal-title {
    color: #fff;
    margin-bottom: .5em;
  }
  .modal-body {
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: #ddd;
    }
  }
  form#searchform input.field.form-control {
    @extend .form-control-lg;
  }
  button.close {
    opacity: 1;
  }
  i.fa-times {
    color:#eee;
    font-size: 30px;
  }
}

// copyright and social icons layout
#wrapper-footer {
  .site-info {
    align-items: center;
  }
  .copyright {
    display: flex;
    justify-content: center;
    order: 2;
    @media (min-width: 768px) {
      justify-content: start;
      order: 1;
    }
  }
  .social-media-icons {
    display: flex;
    justify-content: center;
    order: 1;
    margin-bottom: .5rem;
    @media (min-width: 768px) {
      justify-content: end;
      order: 2;
      margin-bottom: 0;
    }
    
    ul.list-inline {
      margin-bottom: 0;
      li.list-inline-item:not(:last-child) {
        margin-right: .2rem;
      }
    }

  }
}

// sidebar widgets
#left-sidebar, #right-sidebar {
  margin-top: 1.2rem;
  @media (min-width: 768px) {
    margin-top: .5rem;
  }
  .widget {
    padding-bottom: .9rem;
    .widget-title {
      border-bottom: 1px solid #ddd;
    }
  }
}