// Basic styling for page/post wrappers
.wrapper {
  padding: 30px 0 3em; 
  overflow: hidden;
}

// Width restriction utilities
.w-md-80 {
  @media (min-width: 768px) {
    width: 80%;
  }
}
.w-lg-60 {
  @media (min-width: 992px) {
    width: 59%;
  }
}

// Homepage wrapper
#homepage-wrapper.wrapper {
  padding: 0;
}

// Hero section
section.c-hero {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 83vh;
  padding: 2rem 0;
  h1 {
    color: white;
  }
  .c-hero__video-btn {
    &.btn--circle {
      width: 50px;
      height: 50px;
      line-height: 49px;
      font-size: 1.05rem;
      text-align: center;
      padding: 0;
      border-radius: 50%;
      i {
        color: #444;
      }
    }
  }
}

// Clients section
section.c-clients {
  img.client {
    width: 6rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-slider {
    .slick-prev {
      left: -10px;
      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f053";
        color: #8c98a4;
        opacity: 1;
        &:hover {
          filter: brightness(85%);
        }
      }
    }
    .slick-next {
      right: -10px;
      &::before {
        font-family: "Font Awesome 5 Free";
        content:  "\f054";
        color: #aaa;
        opacity: 1;
        &:hover {
          filter: brightness(85%);
        }     
      }
    }
    .slick-slide {
      text-align: center;
      &::before {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      img {
        vertical-align: middle;
        display: inline-block;
      }   
    }
  } 
}

// Icon block section
section.c-icon-block {
  .c-icon-block__icon {
    i {
      font-size: 3rem;
    }
  }
}

// Pricing section
.c-pricing {
  .card {
    @include media-breakpoint-down(md) {
      max-width: 24rem;
      margin: 0 auto;
    }
  }
}

// News section
section.c-news {
  @include media-breakpoint-down(md) {
    div.col-sm-6.col-lg-4.mb-4.mb-lg-3:nth-of-type(3) {
      display: none;
    }
  }
  a.c-news__img-link:hover {
    transition: .3s;
  }
}

// Testimonials section
section.c-testimonials {
  .c-testimonials__quote {
    padding: 20px;
    padding-left: 60px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    min-height: 120px;
    border-radius: 10px;
    &::before {
      font-family: "Font Awesome 5 Free";
      content: "\f10d";
      position: absolute;
      top: 5px;
      left: 12px;
      font-size: 2.25em;
      color: #ddd;
    }
    p {
      line-height: 1.5;
    }
    cite {
      font-size: 1rem;
      margin-top: .75rem;
      .fa-star {
        color: orange;
      }
    }
    .c-testimonials__nav i {
      color: #8c98a4;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
        filter: brightness(85%);
      }
    }
  }
}

// Page and Post fullscreen featured image
.conversions-hero-cover {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  margin: -30px -50vw 2em;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  min-height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;
    opacity: .5;
    z-index: 1;
  }
  .conversions-hero-cover__inner-container {
    width: calc(100% - 70px);
    z-index: 1;
    h1 {
      color: #f8f9f9;
    }
  }
}

// Entry meta
.entry-footer {
  color: $text-muted;
  a {
    color: $text-muted;
    text-decoration: underline;
  }
}
.entry-meta {
  margin: 0 0 1em;
  font-size: .9rem;
  color: $text-muted;
  a {
    color: $text-muted;
    text-decoration: underline;
  }
  .author {
    &::before {
      font-family: "Font Awesome 5 Free";
      content: "\f007";
      color: $text-muted;
      margin-right: 2px;
    }
  }
  .posted-on {
    &::before {
      font-family: "Font Awesome 5 Free";
      content: "\f073";
      color: $text-muted;
      margin-right: 3px;
    }
  }
  .c-single-comments {
    &::before {
      font-family: "Font Awesome 5 Free";
      content: "\f075";
      color: $text-muted;
      margin-right: 2px;
    }
  }
  .c-reading-time {
    &::before {
      font-family: "Font Awesome 5 Free";
      content: "\f017";
      color: $text-muted;
      margin-right: 2px;
    }
  }
}

// Single post meta/navs spacing
.single-post {
  .entry-footer, .post-navigation {
    margin: 1.5rem 0;
  }
  .comment-navigation {
    margin: 1rem 0;
  }
}

// Blog indexes
.blog, .archive, .search {
  article.card {
    a.c-news__img-link:hover {
      transition: .3s;
    }
    .card-img-top {
      height: 20rem;
      object-fit: cover;
      width: 100%;
    }
  }
}
