// Easy Digital Download styles

// Buttons
#edd-purchase-button, 
.edd-submit, 
[type="submit"].edd-submit {
	@extend .btn;
	@extend .btn-lg;
	@extend .btn-block;
}

// Single product pages
.single-download {
	#edd-single-wrapper {
		
		// Title and exerpt section
		.entry-header {
			text-align: center;
			margin-bottom: 2.5rem;
		}
		
		// Featured image
		.post-thumbnail {
			background: #f9fbf9;
			margin-bottom: 2rem;
		}

		// Price, purchase button, and download details
		.widget-area {
			.edd-price {
				color: $gray-700;
			}
			.edd_download_purchase_form {
				margin-bottom: 2rem;
				.edd-cart-ajax-alert {
					display: none !important;
				}
				.btn-block + .btn-block {
					margin-top: 0;
				}
				.edd_download_quantity_wrapper {
					margin: 0 0 .75rem;
				}
			}
			.edd-details {
				.edd-details__title {
					font-size: 1.25rem;
				}
				ul {
					list-style: none;
					padding-left: 0;
					color: $text-muted;
					li {
						display: flex; 
						margin-bottom: .25rem;
						.name {
							width: 38%;
						}
						.value {
							width: 62%;
						}
					}
				}
			}
		}
	}
}

// Store pages
.edd_downloads_list {
	display: flex;
	flex-wrap: wrap;
	
	.edd_download {
		display: flex;
		
		.edd_download_inner {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 1.5rem;
			margin-bottom: 0;
			
			// Featured image
			.edd_download_image {
				margin: 0 0 1rem 0;
				background: #f9fbf9;
				a {
					display: block;
				}
			}
			
			// Title
			.edd_download_title a {
				font-size: 1.25rem;
				color: #222;
				display: block;
				&:hover {
					color: #222;
					text-decoration: none;
				}
			}

			// Description
			.edd_download_excerpt p {
				color: $text-muted;
				margin-bottom: 1rem;
			}

			// Footer
			.edd-downloads-footer {
				margin: auto 0 0 0;
				.edd_price {
					margin-bottom: .5rem;
					color: #555;
				}
				.edd_download_purchase_form {
					.edd-cart-ajax-alert {
						display: none;
					}
					.btn-block + .btn-block {
						margin-top: 0;
					}
					.edd_download_quantity_wrapper {
						margin: 0 0 .75rem;
					}
				}
			}
		}
	}
}

// Store pages grid - responsive - with no sidebar
.col-md-12.content-area {
	.edd_downloads_list {
		
		// breakpoints for up to 2 columns
		&.edd_download_columns_2,
		&.edd_download_columns_3,
		&.edd_download_columns_4,
		&.edd_download_columns_5,
		&.edd_download_columns_6 {
			.edd_download {
				@include media-breakpoint-up(xs) {
					width: 100%;
				}
				@include media-breakpoint-up(sm) {
					width: 50%;
				}
			}
		}
		// breakpoint for 3 columns
		&.edd_download_columns_3,
		&.edd_download_columns_4,
		&.edd_download_columns_5,
		&.edd_download_columns_6 {
			.edd_download {
				@include media-breakpoint-up(md) {
					width: 33%;
				}
			}
		}
		// breakpoint for 4 columns
		&.edd_download_columns_4,
		&.edd_download_columns_5,
		&.edd_download_columns_6 {
			.edd_download {
				@include media-breakpoint-up(lg) {
					width: 25%;
				}
			}
		}
		// breakpoint for 5 columns
		&.edd_download_columns_5 {
			.edd_download {
				@include media-breakpoint-up(xl) {
					width: 20%;
				}
			}
		}
		// breakpoint for 6 columns
		&.edd_download_columns_6 {
			.edd_download {
				@include media-breakpoint-up(xl) {
					width: 16.6%;
				}
			}
		}
	}
}

// Store pages grid - responsive - with active sidebar
.col-md-8.content-area {
	.edd_downloads_list {
		
		// breakpoints for up to 2 columns
		&.edd_download_columns_2,
		&.edd_download_columns_3,
		&.edd_download_columns_4,
		&.edd_download_columns_5,
		&.edd_download_columns_6 {
			.edd_download {
				@include media-breakpoint-up(xs) {
					width: 100%;
				}
				@include media-breakpoint-up(sm) {
					width: 50%;
				}
			}
		}
		// breakpoint for 3 columns
		&.edd_download_columns_3,
		&.edd_download_columns_4,
		&.edd_download_columns_5,
		&.edd_download_columns_6 {
			.edd_download {
				@include media-breakpoint-up(lg) {
					width: 33%;
				}
			}
		}
		// breakpoint for 4 columns
		&.edd_download_columns_4 {
			.edd_download {
				@include media-breakpoint-up(xl) {
					width: 25%;
				}
			}
		}
		// breakpoint for 5 columns
		&.edd_download_columns_5 {
			.edd_download {
				@include media-breakpoint-up(xl) {
					width: 20%;
				}
			}
		}
		// breakpoint for 6 columns
		&.edd_download_columns_6 {
			.edd_download {
				@include media-breakpoint-up(xl) {
					width: 16.6%;
				}
			}
		}
	}
}

// Checkout, confirmation, purchase history - no sidebar limit width.
// Do not want a form spanning whole page
.edd-checkout, .edd-success, .edd-purchase-history {
	.col-md-12.content-area {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

// Checkout
#edd_checkout_wrap {
	
	// cart table
	table#edd_checkout_cart {
		margin-bottom: 2rem;

		.edd_cart_header_row th {
			background: #F8F9FA;
		}
		td, th {
			border: 1px solid #dee2e6;
			color: #222;
			padding: .75rem;
		}

		// If quantity can be adjusted prevent stacking in that cell 
		td.edd_cart_actions {
			white-space: nowrap;
			width: 1px;
			input.edd-item-quantity {
				width: 75px;
				padding: .375rem .75rem;
				display: inline-block;
				margin-right: .4rem;
			}
		}
	}

	// forms
	#edd_checkout_form_wrap {
 
		#edd-login-account-wrap,
		#edd-new-account-wrap, 
		#edd_show_discount, 
		.edd-cart-adjustment {
			background: #F8F9FA;
			color: #222;
		}

		input.edd-input, 
		textarea.edd-input {
			width: 99%;
		}

		#edd_discount_code {
			border: 0;
			background: transparent;

			#edd_show_discount {
				margin-bottom: 0;
			}
			#edd-discount-code-wrap input#edd-discount {
				margin-bottom: 1rem;
			}
		}
		
		.edd-payment-icons {
			margin-bottom: 1rem;
		}

		fieldset {
			margin-bottom: 2rem;
			border: 1px solid #dee2e6;
			background: #F8F9FA;

			legend {
				width: auto;
				padding: 0 .5rem;
				margin-bottom: .75rem;
			}
		}

		fieldset#edd_purchase_submit { 
			background: transparent;
			border: 0;

			fieldset#edd-privacy-policy-agreement {
				background: transparent;
				border: 0;
				margin-bottom: 1rem;

				#edd-privacy-policy {
					height: 15rem;
					overflow-y: scroll;
					padding: 1.5rem;
					border: 1px solid #dee2e6;
					background: #fff;
					margin-bottom: 1rem;
				}

				#edd-show-privacy-policy {
					margin-bottom: .5rem;
				}
			}
		}

		#edd_payment_mode_select {
			margin-bottom: 2rem;
			#edd-payment-mode-wrap label {
				display: block;
				margin: 0 0 .75rem;
			}
		}

		#edd_final_total_wrap {
			border: 1px solid #dee2e6;
			background: #F8F9FA;
			color: #222;
		}

		#edd_register_account_fields, 
		fieldset fieldset {
			border: 0;
		}
	}
}

// Confirmation page
.edd-success {
	#edd_purchase_receipt_products {
		th {
			background: #F8F9FA;
		}
	}
}

// Purchase history
table#edd_user_history {
	border-top: 1px solid #dee2e6;
	th {
		background: #F8F9FA;
	}
	td, th {
		border-bottom: 1px solid #dee2e6;
		padding: .75rem;
	}
}

// Profile edit form
#edd_profile_editor_form {
	legend {
		margin-top: .75rem;
	}
	legend#edd_profile_name_label {
		margin-top: 0;
	}
	#edd_profile_editor_submit {
		margin: 1rem 0;
	}
}