// Easy Digital Download styles

// Single product pages
.single-download {
	#edd-single-wrapper {
		
		// Title and exerpt section
		.entry-header {
			text-align: center;
			margin-bottom: 2.5rem;
		}
		
		// Featured image
		.post-thumbnail {
			background: #f9fbf9;
			margin-bottom: 2rem;
		}

		// Price, purchase button, and download details
		.widget-area {
			.edd-price {
				color: $gray-700;
			}
			.edd_download_purchase_form {
				margin-bottom: 2rem;
				.edd-cart-ajax-alert {
					display: none !important;
				}
				.btn-block + .btn-block {
					margin-top: 0;
				}
			}
			.edd-details {
				.edd-details__title {
					font-size: 1.25rem;
				}
				ul {
					list-style: none;
					padding-left: 0;
					color: $text-muted;
					li {
						display: flex; 
						margin-bottom: .25rem;
						.name {
							width: 38%;
						}
						.value {
							width: 62%;
						}
					}
				}
			}
		}
	}
}

// Store page
.edd_downloads_list {
	display: flex;
	flex-wrap: wrap;
	
	.edd_download {
		display: flex;
		
		.edd_download_inner {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 1.5rem;
			margin-bottom: 0;
			
			// Featured image
			.edd_download_image {
				margin: 0 0 1rem 0;
				background: #f9fbf9;
				a {
					display: block;
				}
			}
			
			// Title
			.edd_download_title a {
				font-size: 1.25rem;
				color: #222;
				display: block;
				&:hover {
					color: #222;
					text-decoration: none;
				}
			}

			// Description
			.edd_download_excerpt p {
				color: $text-muted;
				margin-bottom: 1rem;
			}

			// Footer
			.edd-downloads-footer {
				margin: auto 0 0 0;
				.edd_price {
					margin-bottom: .75rem;
					color: #555;
				}
				.edd_download_purchase_form {
					.edd-cart-ajax-alert {
						display: none;
					}
					.btn-block + .btn-block {
						margin-top: 0;
					}
				}
			}
		}
	}
}

// Checkout - if no active sidebar limit width.
// Do not want a form spanning whole page
.edd-checkout .col-md-12.content-area {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	h1.entry-title {
		text-align: center;
	}
}

// Checkout
#edd_checkout_wrap {
	
	// cart table
	table#edd_checkout_cart {
		margin-bottom: 2rem;

		.edd_cart_header_row th {
			background: #F8F9FA;
		}
		td, th {
			border: 1px solid #dee2e6;
			color: #222;
		}
	}

	// forms
	#edd_checkout_form_wrap {
 
		#edd-login-account-wrap,
		#edd-new-account-wrap, 
		#edd_show_discount, 
		.edd-cart-adjustment {
			background: #F8F9FA;
			color: #222;
		}

		input.edd-input, 
		textarea.edd-input {
			width: 99%;
		}

		#edd_discount_code {
			border: 0;
			background: transparent;

			#edd_show_discount {
				margin-bottom: 0;
			}
			#edd-discount-code-wrap input#edd-discount {
				margin-bottom: 1rem;
			}
		}
		
		.edd-payment-icons {
			margin-bottom: 1rem;
		}

		fieldset {
			margin-bottom: 2rem;
			border: 1px solid #dee2e6;
			background: #F8F9FA;

			legend {
				width: auto;
				padding: 0 .5rem;
				margin-bottom: .75rem;
			}
		}

		fieldset#edd_purchase_submit { 
			background: transparent;
			border: 0;

			fieldset#edd-privacy-policy-agreement {
				background: transparent;
				border: 0;
				margin-bottom: 1rem;

				#edd-privacy-policy {
					height: 15rem;
					overflow-y: scroll;
					padding: 1.5rem;
					border: 1px solid #dee2e6;
					background: #fff;
					margin-bottom: 1rem;
				}

				#edd-show-privacy-policy {
					margin-bottom: .5rem;
				}
			}
		}

		#edd_payment_mode_select {
			margin-bottom: 2rem;
			#edd-payment-mode-wrap label {
				display: block;
				margin: 0 0 .75rem;
			}
		}

		#edd_final_total_wrap {
			border: 1px solid #dee2e6;
			background: #F8F9FA;
			color: #222;
		}

		#edd_register_account_fields, 
		fieldset fieldset {
			border: 0;
		}
	}
}