// Footer and copyright bottom padding
#wrapper-footer-full.wrapper {
  padding-top: 3rem;
  padding-bottom: 1rem;
  @media (min-width: 992px) {
    padding-top: 4rem;
  }
}
#wrapper-footer.wrapper {
  padding-bottom: 30px;
}
// footer full widget area
#wrapper-footer-full {
  .footer-widget {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include media-breakpoint-down(xs) {
      margin-bottom: 0.75rem;
    }
  }
}
// copyright and social icons layout
#wrapper-footer {
  .site-info {
    align-items: center;
  }
  .copyright {
    display: flex;
    justify-content: center;
    font-size: 95%;
    @include media-breakpoint-up(md) {
      justify-content: flex-start;
    }
  }
  .social-media-icons {
    display: flex;
    justify-content: center;
    margin: .5rem 0;
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
      margin-bottom: 0;
    }
    
    ul.list-inline {
      margin-bottom: 0;
      li.list-inline-item:not(:last-child) {
        margin-right: .5rem;
      }
      li.list-inline-item {
        a {
          display: inline-block;
        }
        i {
          vertical-align: middle;
        }
      }
    }

  }
}

// call to action section
section.c-cta {
  // padding
  .container-fluid {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media (min-width: 992px) { 
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  .c-cta__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: .5rem;
  }
}