// Footer and copyright bottom padding
#wrapper-footer-full.wrapper {
  padding-bottom: 30px;
}
#wrapper-footer.wrapper {
  padding-bottom: 30px;
}
// footer full widget area
#wrapper-footer-full {
  .footer-widget {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include media-breakpoint-down(xs) {
      margin-bottom: 0.75rem;
    }
  }
}
// copyright and social icons layout
#wrapper-footer {
  .site-info {
    align-items: center;
  }
  .copyright {
    display: flex;
    justify-content: center;
    order: 2;
    @include media-breakpoint-up(md) {
      justify-content: flex-start;
      order: 1;
    }
  }
  .social-media-icons {
    display: flex;
    justify-content: center;
    order: 1;
    margin-bottom: .5rem;
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
      order: 2;
      margin-bottom: 0;
    }
    
    ul.list-inline {
      margin-bottom: 0;
      li.list-inline-item:not(:last-child) {
        margin-right: .5rem;
      }
      li.list-inline-item {
        a {
          display: inline-block;
        }
        i {
          vertical-align: middle;
        }
      }
    }

  }
}

// call to action section
.c-cta {
  // gradients
  &.grade-grey {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
  }
  &.cool-blues {
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
  }
  &.moonlit-asteroid {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  }
  &.evening-sunshine {
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    background: linear-gradient(to right, #1565C0, #b92b27);
  }
  &.dark-ocean {
    background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44);
  }
  &.cool-sky {
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  }
  &.yoda {
    background: #FF0099;
    background: -webkit-linear-gradient(to right, #493240, #FF0099);
    background: linear-gradient(to right, #493240, #FF0099);
  }
  &.memariani {
    background: #aa4b6b;
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  }
  &.harvey {
    background: #1f4037;
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
    background: linear-gradient(to right, #99f2c8, #1f4037);
  }
  &.witching-hour {
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);
  }
  &.wiretap {
    background: #8A2387;
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  }
  &.magic {
    background: #59C173;
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173);
  }
  &.mellow {
    background: #c0392b;
    background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);
    background: linear-gradient(to right, #8e44ad, #c0392b);
  }
  &.crystal-clear {
    background: #159957;
    background: -webkit-linear-gradient(to right, #155799, #159957);
    background: linear-gradient(to right, #155799, #159957);
  }
  &.summer {
    background: #22c1c3;
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
    background: linear-gradient(to right, #fdbb2d, #22c1c3);
  }
  &.burning-orange {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
  }
  &.instagram {
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  }
  &.dracula {
    background: #DC2424;
    background: -webkit-linear-gradient(to right, #4A569D, #DC2424);
    background: linear-gradient(to right, #4A569D, #DC2424);
  }
  &.titanium {
    background: #283048;
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);
  }
  &.moss {
    background: #134E5E;
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);
    background: linear-gradient(to right, #71B280, #134E5E);
  }
}