// gradients
.grade-grey {
	background: #bdc3c7;
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
	background: linear-gradient(to right, #2c3e50, #bdc3c7);
}
.cool-blues {
	background: #2193b0;
	background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
	background: linear-gradient(to right, #6dd5ed, #2193b0);
}
.moonlit-asteroid {
	background: #0f2027;
	background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
	background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
.evening-sunshine {
	background: #b92b27;
	background: -webkit-linear-gradient(to right, #1565c0, #b92b27);
	background: linear-gradient(to right, #1565c0, #b92b27);
}
.dark-ocean {
	background: #373b44;
	background: -webkit-linear-gradient(to right, #4286f4, #373b44);
	background: linear-gradient(to right, #4286f4, #373b44);
}
.cool-sky {
	background: #2980b9;
	background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
	background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
}
.yoda {
	background: #ff0099;
	background: -webkit-linear-gradient(to right, #493240, #ff0099);
	background: linear-gradient(to right, #493240, #ff0099);
}
.memariani {
	background: #aa4b6b;
	background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
	background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
}
.harvey {
	background: #1f4037;
	background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
	background: linear-gradient(to right, #99f2c8, #1f4037);
}
.witching-hour {
	background: #c31432;
	background: -webkit-linear-gradient(to right, #240b36, #c31432);
	background: linear-gradient(to right, #240b36, #c31432);
}
.wiretap {
	background: #8a2387;
	background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
	background: linear-gradient(to right, #f27121, #e94057, #8a2387);
}
.magic {
	background: #59c173;
	background: -webkit-linear-gradient(to right, #5d26c1, #a17fe0, #59c173);
	background: linear-gradient(to right, #5d26c1, #a17fe0, #59c173);
}
.mellow {
	background: #c0392b;
	background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);
	background: linear-gradient(to right, #8e44ad, #c0392b);
}
.crystal-clear {
	background: #159957;
	background: -webkit-linear-gradient(to right, #155799, #159957);
	background: linear-gradient(to right, #155799, #159957);
}
.summer {
	background: #22c1c3;
	background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
	background: linear-gradient(to right, #fdbb2d, #22c1c3);
}
.burning-orange {
	background: #ff416c;
	background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
	background: linear-gradient(to right, #ff4b2b, #ff416c);
}
.instagram {
	background: #833ab4;
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}
.dracula {
	background: #dc2424;
	background: -webkit-linear-gradient(to right, #4a569d, #dc2424);
	background: linear-gradient(to right, #4a569d, #dc2424);
}
.titanium {
	background: #283048;
	background: -webkit-linear-gradient(to right, #859398, #283048);
	background: linear-gradient(to right, #859398, #283048);
}
.moss {
	background: #134e5e;
	background: -webkit-linear-gradient(to right, #71b280, #134e5e);
	background: linear-gradient(to right, #71b280, #134e5e);
}
