// Gutenberg styles
/* Images
--------------------------------------------- */
#full-width-page-wrapper {
  .alignfull {
    width: 100vw;
    max-width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

/* Separators
--------------------------------------------- */
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px;
}
.wp-block-separator {
  border: none;
  border-bottom: 2px solid rgba(0,0,0,.2);
  margin: 1.65em auto;
}
.wp-block-separator.is-style-wide {
  border-bottom-width: 1px;
}

/* Gutenberg color options
--------------------------------------------- */
// -- see editor-color-palette in functions.php
$colors: (
  'primary' : #5533ff,
  'secondary' : #6c757d,
  'success' : #28a745,
  'danger' : #dc3545,
  'info' : #17a2b8,
  'dark' : #343a40,
);

@each $name, $color in $colors {

  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}

/* Button block
--------------------------------------------- */
.wp-block-button {
  a.wp-block-button__link[style*="background-color"]:hover {
    filter: brightness(85%);
  }
  // universal button styles
  .wp-block-button__link {
    border-radius: .25rem;
    &:hover {
      text-decoration: none;
    }
    @extend .btn;
  }
  
  // default button styles
  &.is-style-c-default {
    .wp-block-button__link {
      &:not(.has-background) {
        @extend .btn-primary;
      }
      // Get user defined colors
      @each $name, $color in $colors {
        &.has-#{$name}-background-color {
          @extend .btn-#{$name};
        }   
      }
    }
  }

  &.is-style-c-full-width {
    .wp-block-button__link {
      @extend .btn-block;
      &:not(.has-background) {
        @extend .btn-primary;
      }
      // Get user defined colors
      @each $name, $color in $colors {
        &.has-#{$name}-background-color {
          @extend .btn-#{$name};
        }
      }
    }
  }

}

/* Calender widget
--------------------------------------------- */
.wp-block-calendar tbody td, .wp-block-calendar th {
  padding: 8px;
}