// Gutenberg styles
// Full width
#full-width-page-wrapper,
#primary.col-md-12.content-area {
	.alignfull {
		width: 100vw;
		max-width: 100vw;
		position: relative;
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}
}

// Separators
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
}
.wp-block-separator {
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	margin: 1.65em auto;
	&.is-style-wide {
		border-bottom-width: 1px;
	}
}

// Blockquotes block
blockquote {
	&.wp-block-quote,
	&.wp-block-quote.is-large,
	&.wp-block-quote.is-style-large {
		padding: 16px 24px;
		p {
			font-style: normal;
		}
		cite {
			font-size: 80%;
			text-align: inherit;
			font-style: normal;
		}
	}
	&.wp-block-quote.has-text-align-right,
	&[style*="text-align:right"] {
		border-left: none;
		border-right: 5px solid #aaa;
		padding: 16px 24px;
		font-style: normal;
	}
}

// Pull quote cite color
.wp-block-pullquote {
	&.alignfull blockquote {
		border-left: 0;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	cite {
		color: #555;
	}
	&.is-style-solid-color blockquote {
		border: 0;
	}
}

// Figure
figure.wp-block-table > table,
figure.wp-block-pullquote > blockquote {
	margin-bottom: 0;
}

// figcaption
.wp-block-audio,
.wp-block-image,
.wp-block-embed,
.wp-block-video {
	figcaption {
		margin-top: 0.5em;
		margin-bottom: 1em;
		color: #555d66;
		font-size: 13px;
		text-align: center;
	}
}
figcaption.blocks-gallery-caption {
	margin-top: .25rem;
	margin-bottom: 1em;
	color: #555d66;
	font-size: 13px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

// Images, embeds, cover spacing
.wp-block-audio,
.wp-block-image,
.wp-block-embed,
.wp-block-video,
.wp-block-cover {
	margin-bottom: 1.5rem;
	> figure > figcaption {
		margin-bottom: 0;
	}
}

// Gallery
.wp-block-gallery {
	margin-bottom: 0.5rem;
}

// Block cover
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover-image h3,
.wp-block-cover-image h4,
.wp-block-cover-image h5,
.wp-block-cover-image h6,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover h3,
.wp-block-cover h4,
.wp-block-cover h5,
.wp-block-cover h6 {
	max-width: 100%;
}

.wp-block-cover-image .wp-block-subhead:not(.has-text-color),
.wp-block-cover-image h1:not(.has-text-color),
.wp-block-cover-image h2:not(.has-text-color),
.wp-block-cover-image h3:not(.has-text-color),
.wp-block-cover-image h4:not(.has-text-color),
.wp-block-cover-image h5:not(.has-text-color),
.wp-block-cover-image h6:not(.has-text-color),
.wp-block-cover-image p:not(.has-text-color),
.wp-block-cover .wp-block-subhead:not(.has-text-color),
.wp-block-cover h1:not(.has-text-color),
.wp-block-cover h2:not(.has-text-color),
.wp-block-cover h3:not(.has-text-color),
.wp-block-cover h4:not(.has-text-color),
.wp-block-cover h5:not(.has-text-color),
.wp-block-cover h6:not(.has-text-color),
.wp-block-cover p:not(.has-text-color) {
	color: #f8f9f9;
}

// Block group
.wp-block-group.has-background {
	padding: 20px 30px;
	margin-bottom: 1.5rem;
}

// Calender
.wp-block-calendar tbody td,
.wp-block-calendar th {
	padding: 8px;
}

// Archive dropdown
.wp-block-archives.wp-block-archives-dropdown select {
	max-width: 20em;
	font-size: 14px;
	margin-bottom: 1.5rem;
}

// Columns
.wp-block-columns.alignfull,
.alignfull:not(.has-background) .wp-block-columns {
	padding-left: 2rem;
	padding-right: 2rem;
}

// Media text block
.wp-block-media-text {
	margin-bottom: 1.5rem;
}

// Gutenberg color options
// -- see editor-color-palette in inc/Conversions.php
$colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"danger": $danger,
	"warning": $warning,
	"info": $info,
	"light": $light,
	"dark": $dark
);

@each $name, $color in $colors {
	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}

$block-btns: (
	(primary, $white, $primary, $primary, $white, darken($primary, 7.5%), darken($primary, 7.5%)),
	(secondary, $white, $secondary, $secondary, $white, darken($secondary, 7.5%), darken($secondary, 7.5%)),
	(success, $white, $success, $success, $white, darken($success, 7.5%), darken($success, 7.5%)),
	(danger, $white, $danger, $danger, $white, darken($danger, 7.5%), darken($danger, 7.5%)),
	(warning, $body-color, $warning, $warning, $body-color, darken($warning, 7.5%), darken($warning, 7.5%)),
	(info, $white, $info, $info, $white, darken($info, 7.5%), darken($info, 7.5%)),
	(light, $body-color, $light, $light, $body-color, darken($light, 7.5%), darken($light, 7.5%)),
	(dark, $white, $dark, $dark, $white, darken($dark, 7.5%), darken($dark, 7.5%))
);

// Button block
// Note: .wp-block-buttons was added in WP 5.4
.wp-block-button,
.wp-block-buttons .wp-block-button {
	// no alignment
	margin-bottom: 1.5rem;
	// align center
	&.aligncenter {
		margin-bottom: 1.5rem;
	}
	// align left / right
	&.alignleft,
	&.alignright {
		margin-bottom: 0;
	}

	// universal button styles
	.wp-block-button__link {
		&:hover {
			text-decoration: none;
		}
		@extend .btn;
	}

	// button styles if no button type
	.wp-block-button__link {
		&:not(.has-background) {
			color: $white;
			background-color: $primary;
			border-color: $primary;
			&:hover {
				color: $white;
				background-color:darken($primary, 7.5%);
				border-color:darken($primary, 7.5%);
			}
		}
		// User defined colors with no button type
		@each $label, $color, $bg, $border, $hover-color, $hover-bg,
			$hover-border in $block-btns
		{
			&.has-#{$label}-background-color {
				color: $color;
				background-color: $bg;
				border-color: $border;
			}
			&.has-#{$label}-background-color:hover {
				color: $hover-color !important;
				background-color: $hover-bg !important;
				border-color: $hover-border !important;
			}
		}
	}

	&.is-style-fill {
		.wp-block-button__link {
			&:not(.has-background) {
				color: $white !important;
				background-color: $primary !important;
				border-color: $primary !important;
				&:hover {
					color: $white !important;
					background-color:darken($primary, 7.5%) !important;
					border-color:darken($primary, 7.5%) !important;
				}
			}
			// Get user defined colors
			@each $label, $color, $bg, $border, $hover-color, $hover-bg,
				$hover-border in $block-btns
			{
				&.has-#{$label}-background-color {
					color: $color !important;
					background-color: $bg !important;
					border-color: $border !important;
				}
				&.has-#{$label}-background-color:hover {
					color: $hover-color !important;
					background-color: $hover-bg !important;
					border-color: $hover-border !important;
				}
			}
		}
	}

	&.is-style-outline {
		.wp-block-button__link {
			&:not(.has-background) {
				color: $primary !important;
				background-color: transparent !important;
				border-color: $primary !important;
				&:hover {
					color: $white !important;
					background-color: $primary !important;
					border-color: $primary !important;
				}
			}
			// Get user defined colors
			@each $label, $color, $bg, $border, $hover-color, $hover-bg,
				$hover-border in $block-btns
			{
				&.has-#{$label}-background-color {
					color: $bg;
					background-color: transparent !important;
					border-color: $border;
				}
				&.has-#{$label}-background-color:hover {
					color: $color !important;
					background-color: $bg !important;
					border-color: $border !important;
				}
			}
		}
	}
}

// WooCommerce
.wc-block-grid__products .wc-block-grid__product {
	padding: 0 28px 0 0;

	.wc-block-grid__product-link:hover {
		text-decoration: none;
	}
	.wc-block-grid__product-title {
		padding: 0.5em 0;
		margin-bottom: 0;
		font-size: 1em;
		font-weight: 500;
	}
	.wc-block-grid__product-price {
		margin-bottom: 0.5em;
		color: #555;
		font-size: 0.9em;
		line-height: 1.5;
	}
	.wc-block-grid__product-rating {
		line-height: 1.5;
		margin-bottom: 0.5em;
		.star-rating span::before {
			color: #f7de00;
		}
	}
	.wc-block-grid__product-image {
		margin-bottom: 0.5em;
		img {
			border-radius: 7px;
		}
	}
	.wp-block-button__link {
		font-weight: normal;
		vertical-align: middle;
		&.added::after {
			display: none;
		}
		&.loading {
			padding-right: 0.75rem;
			&::after {
				display: none;
			}
		}
		&:focus {
			box-shadow: none;
		}
	}
	.added_to_cart {
		font-weight: normal;
		vertical-align: middle;
		@extend .btn;
		&:focus {
			box-shadow: none;
		}
	}
}

// WooCommerce product grid font size
.wc-block-grid.has-4-columns:not(.alignwide):not(.alignfull)
	.wc-block-grid__product {
	font-size: 1rem;
}

// WooCommerce search block
.wp-block-woocommerce-product-search {
	margin-bottom: 1.5rem;
}

// WooCommerce product grid alignfull
.wc-block-grid.alignfull {
	padding-left: 28px;
}
