// Navbar styles
#wrapper-navbar {
	.navbar {

		// Logo image
		.navbar-brand img {
			height: 100%;
			width: auto;
		}

		// Site title
		h1 {
			font-weight: $font-weight-normal;
		}

		// Mobile toggler
		.navbar-toggler {
			border: none;
			border-radius: 0;
		}
		.hamburger {
			&[aria-expanded=true] {
				@extend .is-active;
			}
			.hamburger-box {
				vertical-align: middle;
			}
		}
		&.navbar-dark {
			.hamburger[aria-expanded=true] {
				.hamburger-inner,
				.hamburger-inner::before,
				.hamburger-inner::after {
					background-color: #ffffff;
				}
			}
			.hamburger-inner,
			.hamburger-inner::before,
			.hamburger-inner::after {
				background-color: #ffffff;
			}
		}
		&.navbar-light {
			.hamburger[aria-expanded=true] {
				.hamburger-inner,
				.hamburger-inner::before,
				.hamburger-inner::after {
					background-color: #000000;
				}
			}
			.hamburger-inner,
			.hamburger-inner::before,
			.hamburger-inner::after {
				background-color: #000000;
			}
		}

		// Mobile menu padding
		#main-menu {
			padding-top: 0.5rem;
			@include media-breakpoint-up(lg) {
				padding-top: 0;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
			}
		}

		// Navbar right specific
		&.navbar-right #main-menu {
			margin-left: auto;
		}

		.c-nav__social {
			display: flex;
			padding-left: 0;
			list-style: none;
			.c-nav__social-icon {
				@include media-breakpoint-down(md) {
					margin-right: 1rem;
				}
			}
		}

		// Nav icons
		.nav-link i {
			font-size: 1.05rem;
		}
		.cart-customlocation .fa-shopping-cart {
			margin-right: 0.2rem;
		}

		// Nav callout button.
		.nav-callout-button {
			@include media-breakpoint-up(lg) {
				margin-left: 0.5rem;
			}
		}
	}
	
	// If white navbar add bottom border
	&.is-white-color:not(.drop-shadow-is-true) .navbar {
		border-bottom: 1px solid #dee2e6;
	}

	// Navbar drop shadow
	&.drop-shadow-is-true {
		box-shadow: 0 3px 3px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.1);
	}

	// IE edge prefix for fixed navbar -- prevents element jitter
	&.fixed-top {
		position: -ms-device-fixed;
	}
}

// Navbar link colors
#wrapper-navbar nav {
	&.navbar-dark,
	div.navbar-dark {
		a.nav-link {
			color: rgba(255, 255, 255, 1);
			&:hover {
				color: rgba(255, 255, 255, 0.8);
			}
		}
	}
	&.navbar-light,
	div.navbar-light {
		a.nav-link {
			color: rgba(0, 0, 0, 1);
			&:hover {
				color: rgba(0, 0, 0, 0.8);
			}
		}
	}
}

// Nav search modal
.admin-bar #csearchModal {
	z-index: 100000;
}
#csearchModal {
	.modal-dialog {
		position: fixed;
		margin: 0;
		width: 100%;
		max-width: 100%;
		height: 100%;
		padding: 0;
	}
	.modal-content {
		height: auto;
		min-height: 100%;
		border-radius: 0;
		background: $dark;
	}
	.modal-header {
		display: flex;
		justify-content: flex-end;
		border-bottom: 0;
	}
	.modal-title {
		color: $white;
		margin-bottom: 0.5em;
	}
	.modal-body {
		justify-content: flex-start;
		display: flex;
		flex-direction: column;
		align-items: center;
		p {
			color: #ddd;
		}
	}
	#searchform input.field {
		@extend .form-control-lg;
	}
	button.close {
		opacity: 1;
	}
	i.fa-times {
		color: $gray-200;
		font-size: 30px;
	}
}
