// Navbar styles
#wrapper-navbar .navbar {
	.navbar-brand img {
		height: 100%;
		width: auto;
	}

	h1 {
		font-weight: $font-weight-normal;
	}

	// mobile menu padding
	ul#main-menu {
		padding-top: 0.5rem;
		@include media-breakpoint-up(lg) {
			padding-top: 0;
		}
	}

	// Nav icons
	// cart
	.cart-customlocation .fa-shopping-cart {
		font-size: 1.05rem;
		margin-right: 0.2rem;
	}
	// account and search
	.account-icon .fa-user,
	.search-icon .fa-search {
		font-size: 1.05rem;
	}

	// Large devices (desktops, 992px and up)
	@include media-breakpoint-up(lg) {
		.navbar-nav {
			display: inline-block;
			.menu-item {
				display: inline-block;
				.nav-link {
					white-space: nowrap;
				}
				.dropdown-menu li.menu-item {
					display: block;
				}
			}
			.nav-callout-button {
				margin-left: 0.5rem;
			}
		}
	}

	// Navbar right specific
	&.navbar-right #main-menu {
		margin-left: auto;
	}

	// Navbar below specific
	&.navbar-below {
		@include media-breakpoint-up(lg) {
			flex-flow: column nowrap;
			align-items: normal;
			padding: 0;
		}
		.navbar-below-branding,
		.navbar-below-menu {
			@include media-breakpoint-up(lg) {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
		.navbar-below-branding {
			@include media-breakpoint-down(md) {
				padding-top: 0;
				padding-bottom: 0;
				width: 100%;
			}
			.container-fluid {
				@include media-breakpoint-down(md) {
					padding-right: 0;
					padding-left: 0;
				}
			}
			.nav-extras {
				margin: 0;
				@include media-breakpoint-down(md) {
					display: none;
				}
				.list-inline-item {
					margin-right: 0;
					.nav-link {
						padding: .5rem;
					}
				}
				.nav-callout-button {
					margin-left: .75rem;
				}
			}
		}
		.navbar-below-menu {
			@include media-breakpoint-down(md) {
				width: 100%;
				background: #fff !important;
			}
			.container-fluid {
				@include media-breakpoint-down(md) {
					padding-right: 0;
					padding-left: 0;
				}
			}
			li:first-child a.nav-link {
				@include media-breakpoint-up(lg) {
					padding-left: 0;
				}
			}
			.nav-link {
				@include media-breakpoint-down(md) {
					color: #000;
				}
				@include media-breakpoint-up(lg) {
					padding-left: 1rem;
					padding-right: 1rem;
				}
				&:hover {
					@include media-breakpoint-down(md) {
						color: rgba(0,0,0,.8);
					}
				}
			}
			.active > .nav-link,
			.nav-link.active,
			.nav-link.show,
			.show > .nav-link {
				@include media-breakpoint-down(md) {
					color: rgba(0,0,0,.8);
				}
			}
			.search-icon,
			.cart,
			.account-icon,
			.nav-callout-button {
				@include media-breakpoint-up(lg) {
					display: none;
				}
			}
		}
	}

}

// If white navbar add bottom border
#wrapper-navbar.is-white-color .navbar {
	border-bottom: 1px solid #dee2e6;
}

// IE edge prefix for fixed navbar -- prevents element jitter
.fixed-top#wrapper-navbar {
	position: -ms-device-fixed;
}

// Navbar link colors
#wrapper-navbar nav {
	&.navbar-dark,
	div.navbar-dark {
		a.nav-link {
			color: rgba(255, 255, 255, 1);
			&:hover {
				color: rgba(255, 255, 255, 0.8);
			}
		}
	}
	&.navbar-light,
	div.navbar-light {
		a.nav-link {
			color: rgba(0, 0, 0, 1);
			&:hover {
				color: rgba(0, 0, 0, 0.8);
			}
		}
	}
}

// Nav search modal
.admin-bar #csearchModal {
	z-index: 100000;
}
#csearchModal {
	.modal-dialog {
		position: fixed;
		margin: 0;
		width: 100%;
		max-width: 100%;
		height: 100%;
		padding: 0;
	}
	.modal-content {
		height: auto;
		min-height: 100%;
		border-radius: 0;
		background: $dark;
	}
	.modal-header {
		display: flex;
		justify-content: flex-end;
		border-bottom: 0;
	}
	.modal-title {
		color: $white;
		margin-bottom: 0.5em;
	}
	.modal-body {
		justify-content: flex-start;
		display: flex;
		flex-direction: column;
		align-items: center;
		p {
			color: #ddd;
		}
	}
	#searchform input.field {
		@extend .form-control-lg;
	}
	button.close {
		opacity: 1;
	}
	i.fa-times {
		color: $gray-200;
		font-size: 30px;
	}
}
