/*
* Use existing Bootstrap classes for Ninja Forms styles
*/

// If no active sidebar no left margin
body.no-sidebar .nf-form-content {
	margin: 0 0 auto 0;
}

// NF form wrapper
.nf-form-wrap {

	// Add .form-control to inputs
	.nf-form-content {
		input:not([type="button"]):not([type="checkbox"]):not([type="radio"]),
		textarea {
			@extend .form-control;
		}

		.list-select-wrap > div select {
			@extend .form-select;
		}
		select.ninja-forms-field:not([multiple]) {
			height: auto;
		}
		hr.ninja-forms-field {
			margin-bottom: 1.5rem;
		}
	}

	// Add .form-check-input to checkbox and radio inputs
	.nf-form-content input[type="checkbox"].ninja-forms-field, 
	.nf-form-content input[type="radio"].ninja-forms-field {
		@extend .form-check-input;
	}

	// Hides the NF radio and checkbox they output as psuedo elements
	.listradio-wrap .nf-field-element label::after,
	.listradio-wrap .nf-field-element label.nf-checked-label::before,
	.listcheckbox-wrap .nf-field-element label::after,
	.listcheckbox-wrap .nf-field-element label.nf-checked-label::before {
		display: none;
	}

	// Fixes the margin from the radio or checkbox to the label
	.listradio-wrap .nf-field-element label,
	.listcheckbox-wrap .nf-field-element label {
		margin-left: .25rem !important;
	}

	// Add .form-check-label to checkbox and radio labels
	.list-checkbox-wrap .nf-field-element li label,
	.list-radio-wrap .nf-field-element li label {
		@extend .form-check-label;
	}

	// Add .form-check wrapper to checkbox and radios
	.nf-form-content {
		.listcheckbox-wrap,
		.listradio-wrap {
			li {
				@extend .form-check;
				padding-left: 1.5rem !important;
				line-height: 1.5;

				input[type="radio"] {
					display: block;
					padding: 0;
					width: 1em !important;
					margin-top: .15rem;
				}
				label {
					margin: 0 !important;
				}
			}
		}
		.two-col-list,
		.three-col-list,
		.four-col-list,
		.five-col-list,
		.six-col-list {
			.listcheckbox-wrap,
			.listradio-wrap {
				ul li {
					@extend .form-check-inline;
				}
			}
		}
	}

	// Hide unused select div
	.nf-form-content .list-select-wrap .nf-field-element > div {
		display: none;
	}

	// Add normal dropdown arrow back
	.nf-form-content .list-select-wrap > div select {
		-webkit-appearance: menulist;
		-moz-appearance: menulist;
		appearance: menulist;
	}

	// Error icon for individual fields
	.nf-error.field-wrap .nf-field-element::after {
		background: $danger;
		color: $white;
		height: 36px;
		line-height: 36px;
	}

	// Error text below individual fields
	.nf-error .nf-error-msg {
		color: $danger;
	}

	// Bottom main error alert
	.nf-form-errors .nf-error-msg {
		@extend .alert;
		@include c-alert-colors($danger);
	}

	// Success icon for individual fields
	.nf-pass.field-wrap .nf-field-element::after {
		color: $success;
		height: 36px;
		line-height: 36px;
	}

	// Submit buttons
	.nf-form-content button, 
	.nf-form-content input[type="button"], 
	.nf-form-content input[type="submit"] {
		@extend .btn;
		@extend .btn-primary;
	}
	.nf-form-content input.ninja-forms-field {
		height: auto;
	}
}