// sidebar widgets
#sidebar-2, #sidebar-1 {
  margin-top: 1.2rem;
  @include media-breakpoint-up(md) {
    margin-top: .5rem;
  }
  .widget {
    padding-bottom: .9rem;
    .widget-title {
      border-bottom: 1px solid $border-color;
    }
  }
}