// Fix billing field wrapper
.woocommerce-input-wrapper {
	width: 100%;
}

// Woocommerce product gallery slider width fix
figure.woocommerce-product-gallery__wrapper { 
  max-width: inherit !important; 
}

// Menu icon size and space
#main-menu i.fas.fa-shopping-bag {
	font-size: 20px;
	margin-right: 5px;
}