// Billing field wrapper
.woocommerce-input-wrapper {
	width: 100%;
}

// Woocommerce product gallery slider width
figure.woocommerce-product-gallery__wrapper { 
  max-width: inherit !important; 
}

// Cart icon size and space
#main-menu a.cart-customlocation i.fas.fa-shopping-bag {
	font-size: 20px;
	margin-right: 5px;
}

// Cart and checkout table
.woocommerce table.shop_table {
	border-collapse: collapse;
}

// shop page styles
.woocommerce ul.products li.product {
	text-align: center;
	.price {
		color: #555;
		font-size: .9em;
		ins {
			font-weight: 400;
			text-decoration: none;
		}
	}
	a img {
		margin: 0 0 .75em;
		border-radius: 7px;
	}
	.button {
		margin-top: .3em;
		color: #53f;
		border: 1px solid #53f;
		background: transparent;
		font-weight: normal;
		&:hover {
			color: $white;
			background-color: #007bff;
			border-color: #007bff;
		}
		&.added::after {
			display: none;
		}
	}
	.added_to_cart {
		color: #6c757d;
		border: 1px solid #6c757d;
		margin-top: .3em;
		margin-bottom: 0;
		margin-right: 0;
		margin-left: 0;
		background: transparent;
		font-weight: normal;
		font-size: 100%;
		line-height: 1;
		cursor: pointer;
		position: relative;
		text-decoration: none;
		overflow: visible;
		padding: .618em 1em;
		border-radius: 3px;
		left: auto;
		display: inline-block;
		background-image: none;
		box-shadow: none;
		text-shadow: none;
		&:hover {
			color: $white;
			background-color: #6c757d;
			border-color: #6c757d;
		}
	}
	.star-rating {
		margin: 0 auto .5em;
		color: #f7de00;
	}
}

// woocommerce messages
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	padding: 1em 1.618em;
	clear: both;
	margin-bottom: 1.618em;
	background-color: $success;
	margin-left: 0;
	border-radius: 2px;
	color: $white;
	clear: both;
	border-left: .6180469716em solid rgba(0,0,0,.15);
	border-top: 0;

	a {
		color: $white;

		&:hover {
			color: $white;
			opacity: 0.7;
		}

		&.button:hover {
			opacity: 1;
		}
	}

	.button {
		float: right !important;
		padding: 0 !important;
		background: none !important;
		color: $white !important;
		box-shadow: none !important;
		line-height: 1.618 !important;
		padding-left: 1em !important;
		border-width: 0 !important;
		border-left-width: 1px !important;
		border-left-style: solid !important;
		border-left-color: rgba(255,255,255,0.25) !important;
		border-radius: 0 !important;

		&:hover {
			background: none !important;
			color: $white !important;
			opacity: 0.7 !important;
		}
	}

	pre {
		background-color: rgba(0,0,0,.1);
	}
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	background-color: #3d9cd2;
}
.woocommerce-error {
	background-color: $danger;
	list-style: none;
}
.woocommerce-error::after, .woocommerce-error::before, .woocommerce-info::after, .woocommerce-info::before, .woocommerce-message::after, .woocommerce-message::before, .woocommerce-noreviews::after, .woocommerce-noreviews::before, p.no-comments::after, p.no-comments::before {
	content: '';
	display: table;
}
.woocommerce form.checkout_coupon {
	border: 0;
	padding: 0;
	margin: 0 0 1.6em 0;
	text-align: left;
	border-radius: 5px;
}

#footer-full-content .woocommerce.widget_shopping_cart .woocommerce-mini-cart__buttons.buttons a.button {
	@extend .btn;
	@extend .btn-info;
}

// single product pages
.single-product.woocommerce {
	div.product {
		.product_meta {
			font-size: .875em;
			padding-top: 1em;
			border-top: 1px solid rgba(0,0,0,.05);
		}
		.woocommerce-product-rating {
			margin-bottom: 1em;
			.woocommerce-review-link {
				color: $text-muted;
			}
		}
		.woocommerce-tabs .panel {
			margin: 0 0 3em;
		}
		.entry-summary {
			p.price .woocommerce-Price-amount {
				color: $gray-700;
			}
			.quantity input.qty {
				width: 3.631em;
    			text-align: center;
			}
			.single_variation_wrap {
				.price .woocommerce-Price-amount {
					color: $gray-700;
				}
			}
		}
	}
	.woocommerce-breadcrumb a, .product_meta a {
		color: $text-muted;
	}
	.star-rating {
		color: #F7DE00;
	}
	#respond input#submit.btn.btn-secondary {
		color: $white;
		background-color: #6c757d;
		border-color: #6c757d;
		font-weight: normal;
		
		&:hover {
			color: $white;
			background-color: #5a6268;
			border-color: #545b62;
		}
	}
}

// Cart page
body.woocommerce-cart {
	.product-quantity .quantity input.qty {
		width: 3.631em;
    	text-align: center;
	}
}