// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor {
  font-size: inherit;
}
// Separate sticky wrapper from main content
.wrapper#wrapper-sticky { 
  border-bottom: 1px solid $gray-300; 
}
// Necessary WP classes
.wp-caption { 
  font-size: inherit; 
}
.wp-caption-text { 
  font-size: inherit; 
}
.screen-reader-text { 
  @extend .sr-only; 
}
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter { 
  @extend .mx-auto;
  text-align: center;
}
table { 
  @extend .table;
  @extend .table-bordered;
  border-spacing: 0;
  &.table thead th, thead th {
    border-bottom-width: 1px;
  }
}
blockquote {
  padding: 10px 20px;
  border-left: 5px solid #aaa;
  cite {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #555;
    margin-top: .5rem;
  }
}
cite {
  color: #555;
}
code {
  background-color: rgba(0,0,0,.05);
  padding: .202em .5407911001em;
  color: #444;
}
pre {
  color: #444;
  background-color: rgba(0,0,0,.05);
  padding: 1em;
  max-width: 100%;
  overflow: auto;
}
table#wp-calendar {
  caption {
    text-align: center;
    caption-side: top;
  }
  th {
    background: #edeff0;
  }
}
.widget.widget_calendar, 
.footer-widget.widget_calendar {
  table#wp-calendar {
    table-layout: fixed;
    max-width: 250px;
    width: 100%;
    td, th {
      padding: .25em;
      text-align: center;
    }
  }
}
.footer-widget.widget_calendar {
  table#wp-calendar th {
    background: none;
  }
}
// Post design
.entry-footer span { 
  padding-right: 10px; 
}
// Limit featured image size to 100%
img.wp-post-image,
article img,
figure,
img,
#secondary img {
  max-width: 100%;
  height: auto;
}
// Skip to content link
a.skip-link {
  position: fixed;
  z-index: 1000;
  top: 0px;
  right: 0px;
}