// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor {
	font-size: inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {
	border-bottom: 1px solid $gray-300;
}

// Necessary WP classes
.wp-caption {
	font-size: inherit;
}
.wp-caption-text {
	font-size: 13px;
	color: #555d66;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	text-align: center;
}
.screen-reader-text {
	@extend .visually-hidden;
}
.alignleft {
	float: left;
	margin-right: 1.5em;
}
.alignright {
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	@extend .mx-auto;
	text-align: center;
	display: block;
	clear: both;
}
table {
	@extend .table;
	@extend .table-bordered;
	border-spacing: 0;
	&.table thead th,
	thead th {
		border-bottom-width: 1px;
	}
}
blockquote {
	padding: 16px 24px;
	border-left: 5px solid #aaa;
	cite {
		display: block;
		font-size: 80%;
		line-height: 1.4;
		color: #555;
		margin-top: 0.5rem;
		font-style: normal;
	}
}
cite {
	color: #555;
}
pre {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 1em;
	max-width: 100%;
	overflow: auto;
	color: $body-color;
	margin-bottom: 1.5rem;
	code {
		padding: 0;
		background: transparent;
		color: $body-color;
	}
}
code {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 0.202em 0.5407911001em;
	color: $body-color;
}

// Calender widget
table#wp-calendar {
	caption {
		text-align: center;
		caption-side: top;
	}
	th {
		background: #edeff0;
	}
}
.widget.widget_calendar,
.footer-widget-area .widget_calendar {
	table#wp-calendar {
		table-layout: fixed;
		td,
		th {
			padding: 0.35em;
			text-align: center;
		}
	}
}
.footer-widget-area .widget_calendar {
	table#wp-calendar th {
		background: none;
	}
}

// Post design
.entry-footer span {
	padding-right: 10px;
}

// Limit featured image size to 100%
img.wp-post-image,
article img,
figure,
img,
#secondary img {
	max-width: 100%;
	height: auto;
}

// Skip link
.skip-link {
	position: absolute;
	top: -1000em;
	&:focus {
		left: 6px;
		top: 7px;
		height: auto;
		width: auto;
		display: block;
		font-size: 14px;
		font-weight: 600;
		padding: 15px 23px 14px;
		background: #f1f1f1;
		color: #0073aa;
		z-index: 100001;
		line-height: normal;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		text-decoration: none;
		/* Only visible in Windows High Contrast mode */
		outline: 2px solid transparent;
		outline-offset: -2px;
	}
}

// Password protected post button
form.post-password-form input[type="submit"] {
	@extend .btn;
	@extend .btn-primary;
}
