// Import Bootstrap
@import "variables";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "mixins";

// Titles
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

body.mce-content-body h1,
body.mce-content-body h2,
body.mce-content-body h3,
body.mce-content-body h4,
body.mce-content-body h5,
body.mce-content-body h6 {
	color: $body-color;
}

body.mce-content-body {
	color: $body-color;
}

// Paragraphs
p {
	margin-top: 0;
	margin-bottom: 1.5rem;
}

// Blockquote
blockquote {
	border-left: 5px solid #aaa;
	padding: 10px 20px;
	margin-left: 0;
}

// Definitions
dt {
	font-weight: 700;
}
dd {
	margin-left: 0;
	margin-bottom: 0.5rem;
}

// Code
code {
	padding: 0.202em 0.5407911001em;
	margin: 0;
	border-radius: 0;
	color: #444;
	background: rgba(0, 0, 0, 0.05);
	font-size: 87.5%;
}
pre {
	color: #444;
	background: rgba(0, 0, 0, 0.05);
	padding: 1em;
	max-width: 100%;
	overflow: auto;
}

// keyboard text
kbd {
	padding: 0.2rem 0.4rem;
	font-size: 87.5%;
	color: #fff;
	background-color: #212529;
	border-radius: 0.2rem;
}
