// Import Bootstrap stuff we need
@import "../src/sass/bootstrap4/functions";
@import "../src/sass/bootstrap4/variables";
@import "../src/sass/bootstrap4/mixins";
@import "../src/sass/bootstrap4/buttons";

/* Links hover
--------------------------------------------- */
.editor-styles-wrapper a:hover {
  filter: brightness(85%);
  text-decoration: none;
}

/* Gutenberg color options
--------------------------------------------- */
// -- see editor-color-palette in functions.php
$colors: (
  'primary' : #5533ff,
  'secondary' : #6c757d,
  'success' : #28a745,
  'danger' : #dc3545,
  'info' : #17a2b8,
  'dark' : #343a40,
);

@each $name, $color in $colors {

  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}

/* Button block
--------------------------------------------- */
.wp-block-button {
  a.wp-block-button__link[style*="background-color"]:hover {
    filter: brightness(85%);
  }
  // universal button styles
  .wp-block-button__link {
    border-radius: .25rem;
    &:hover {
      text-decoration: none;
    }
    @extend .btn;
  }
  
  // default button styles
  &.is-style-c-default {
    .wp-block-button__link {
      &:not(.has-background) {
        @extend .btn-primary;
      }
      // Get user defined colors
      @each $name, $color in $colors {
        &.has-#{$name}-background-color {
          @extend .btn-#{$name};
        }   
      }
    }
  }

  &.is-style-c-full-width {
  	display: block;
    .wp-block-button__link {
      @extend .btn-block;
      &:not(.has-background) {
        @extend .btn-primary;
      }
      // Get user defined colors
      @each $name, $color in $colors {
        &.has-#{$name}-background-color {
          @extend .btn-#{$name};
        }
      }
    }
  }

}