// Import Bootstrap
@import "variables";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/buttons";
@import "mixins";

// Add padding to wrapper to prevent overflow
.editor-styles-wrapper {
	padding: 50px 30px;
}

// Block widths
.wp-block {
	max-width: 1140px;
}
.wp-block[data-align="wide"] {
	max-width: 1140px;
}
.wp-block[data-align="full"] {
	max-width: none;
}

// Alignments
.editor-styles-wrapper {
	.alignleft {
		margin-right: 1.5em;
	}
	.alignright {
		margin-left: 1.5em;
	}
}
.editor-block-list__block[data-align="center"],
.block-editor-block-list__block[data-align="center"] {
	clear: both;
}

// Titles
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 500;
}
.editor-styles-wrapper .wp-block {
	h1,
	.h1 {
		font-size: 2.5rem;
	}
	h2,
	.h2 {
		font-size: 2rem;
	}
	h3,
	.h3 {
		font-size: 1.75rem;
	}
	h4,
	.h4 {
		font-size: 1.5rem;
	}
	h5,
	.h5 {
		font-size: 1.25rem;
	}
	h6,
	.h6 {
		font-size: 1rem;
	}
}

// Text color
.editor-styles-wrapper {
	color: $body-color;
	.editor-post-title__block .editor-post-title__input {
		color: $body-color;
	}
}

// Separators
.wp-block-separator {
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	&.is-style-wide {
		border-bottom-width: 1px;
	}
}

// Pre and code
.wp-block-preformatted pre,
pre.wp-block-preformatted,
.wp-block-verse pre,
pre.wp-block-verse {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 1em;
	max-width: 100%;
	overflow: auto;
	color: $body-color;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	font-size: 87.5%;
	code {
		padding: 0;
		background: transparent;
		color: $body-color;
	}
}
code {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 0.202em 0.5407911001em;
	color: $body-color;
}

// Table
.wp-block-table td,
.wp-block-table th {
	border: 1px solid #dee2e6;
}

// Cover block text width
.wp-block-cover-image,
.wp-block-cover {
	.wp-block-cover-image-text,
	.wp-block-cover-text,
	h2,
	h3,
	h4,
	h5,
	h6 {
		max-width: 100%;
	}
}

// Blockquotes block
blockquote {
	&.wp-block-quote,
	&.wp-block-quote.is-large,
	&.wp-block-quote.is-style-large {
		padding: 16px 24px;
		border-left: 5px solid #aaa;
		font-style: normal;

		.wp-block-quote__citation {
			color: #555;
			font-size: 80%;
			margin-top: 0.5em;
			line-height: 1.4;
			font-style: normal;
		}
		p {
			font-style: normal;
		}
	}
	&.wp-block-quote.has-text-align-right {
		border-left: none;
		border-right: 5px solid #aaa;
		padding: 16px 24px;
		font-style: normal;
	}
}

// Pullquote
.wp-block-pullquote {
	color: $body-color;
	border-top: 0;
	border-bottom: 0;
	blockquote {
		padding: 16px 24px;
		border-left: 5px solid #aaa;
		p {
			margin-bottom: 1.5rem;
		}
	}
	.wp-block-pullquote__citation,
	.wp-block-pullquote cite,
	.wp-block-pullquote footer {
		color: #555;
		text-transform: none;
	}
	&.is-style-solid-color blockquote {
		border: 0;
	}
}
.wp-block[data-type="core/pullquote"][data-align="full"] blockquote {
	border: 0;
	margin: 1rem 0;
}

// Media text block
.wp-block-media-text {
	margin-bottom: 1.5rem;
}

// Classic editor block
.wp-block-freeform.block-library-rich-text__tinymce {
	// Titles
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 500;
	}
	// Paragraphs
	p {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}
	// Blockquote
	blockquote {
		border-left: 5px solid #aaa;
		padding: 16px 24px;
		margin-left: 0;
		margin-bottom: 1.5rem;
	}
	// Definitions
	dt {
		font-weight: 700;
	}
	dd {
		margin-left: 0;
		margin-bottom: 0.5rem;
	}
	// Code
	code {
		padding: 0.202em 0.5407911001em;
		margin: 0;
		border-radius: 0;
		color: $body-color;
		background: rgba(0, 0, 0, 0.05);
		font-size: 87.5%;
	}
	pre {
		color: $body-color;
		background: rgba(0, 0, 0, 0.05);
		padding: 1em;
		max-width: 100%;
		overflow: auto;
		white-space: pre;
		margin-bottom: 1.5rem;
	}
	table {
		margin-bottom: 1.5rem;
	}
	// keyboard text
	kbd {
		padding: 0.2rem 0.4rem;
		font-size: 87.5%;
		color: $white;
		background-color: $body-color;
		border-radius: 0.2rem;
	}
}

// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"danger": $danger,
	"warning": $warning,
	"info": $info,
	"light": $light,
	"dark": $dark
);

@each $name, $color in $colors {
	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}

$block-btns: (
	(primary, $white, $primary, $primary, $white, darken($primary, 7.5%), darken($primary, 7.5%)),
	(secondary, $white, $secondary, $secondary, $white, darken($secondary, 7.5%), darken($secondary, 7.5%)),
	(success, $white, $success, $success, $white, darken($success, 7.5%), darken($success, 7.5%)),
	(danger, $white, $danger, $danger, $white, darken($danger, 7.5%), darken($danger, 7.5%)),
	(warning, $body-color, $warning, $warning, $body-color, darken($warning, 7.5%), darken($warning, 7.5%)),
	(info, $white, $info, $info, $white, darken($info, 7.5%), darken($info, 7.5%)),
	(light, $body-color, $light, $light, $body-color, darken($light, 7.5%), darken($light, 7.5%)),
	(dark, $white, $dark, $dark, $white, darken($dark, 7.5%), darken($dark, 7.5%))
);

// Button block
// Note: .wp-block-buttons was added in WP 5.4
.wp-block-button,
.wp-block-buttons .wp-block-button {
	// universal button styles
	.wp-block-button__link {
		&:hover {
			text-decoration: none;
		}
		@include c-btn;
	}

	// button styles if no button type
	.wp-block-button__link {
		&:not(.has-background) {
			color: $white;
			background-color: $primary;
			border-color: $primary;

			[data-rich-text-placeholder]::after {
				color: $white;
				opacity: 1;
			}

			&:hover {
				color: $white !important;
				background-color: darken($primary, 7.5%) !important;
				border-color: darken($primary, 7.5%) !important;
				
				[data-rich-text-placeholder]::after {
					color: $white;
					opacity: 1;
				}
			}
		}
		// User defined colors with no button type
		@each $label, $color, $bg, $border, $hover-color, $hover-bg, $hover-border in $block-btns
		{
			&.has-#{$label}-background-color {
				color: $color;
				background-color: $bg;
				border-color: $border;
				
				[data-rich-text-placeholder]::after {
					color: $color;
					opacity: 1;
				}
			}

			&.has-#{$label}-background-color:hover {
				color: $hover-color !important;
				background-color: $hover-bg !important;
				border-color: $hover-border !important;

				[data-rich-text-placeholder]::after {
					color: $hover-color;
					opacity: 1;
				}
			}
		}
	}

	&.is-style-fill {
		.wp-block-button__link {
			&:not(.has-background) {
				color: $white !important;
				background-color: $primary !important;
				border-color: $primary !important;

				[data-rich-text-placeholder]::after {
					color: $white;
					opacity: 1;
				}

				&:hover {
					color: $white !important;
					background-color:darken($primary, 7.5%) !important;
					border-color:darken($primary, 7.5%) !important;

					[data-rich-text-placeholder]::after {
						color: $white;
						opacity: 1;
					}
				}
			}
			// Get user defined colors
			@each $label, $color, $bg, $border, $hover-color, $hover-bg, $hover-border in $block-btns
			{
				&.has-#{$label}-background-color {
					color: $color !important;
					background-color: $bg !important;
					border-color: $border !important;

					[data-rich-text-placeholder]::after {
						color: $color;
						opacity: 1;
					}
				}

				&.has-#{$label}-background-color:hover {
					color: $hover-color !important;
					background-color: $hover-bg !important;
					border-color: $hover-border !important;

					[data-rich-text-placeholder]::after {
						color: $hover-color;
						opacity: 1;
					}
				}
			}
		}
	}

	&.is-style-outline {
		.wp-block-button__link {
			&:not(.has-background) {
				color: $primary !important;
				background-color: transparent !important;
				border-color: $primary !important;

				[data-rich-text-placeholder]::after {
					color: $primary;
					opacity: 1;
				}

				&:hover {
					color: $white !important;
					background-color: $primary !important;
					border-color: $primary !important;

					[data-rich-text-placeholder]::after {
						color: $white;
						opacity: 1;
					}
				}
			}
			// Get user defined colors
			@each $label, $color, $bg, $border, $hover-color, $hover-bg, $hover-border in $block-btns
			{
				&.has-#{$label}-background-color {
					color: $bg;
					background-color: transparent !important;
					border-color: $border;

					[data-rich-text-placeholder]::after {
						color: $bg;
						opacity: 1;
					}
				}

				&.has-#{$label}-background-color:hover {
					color: $color !important;
					background-color: $bg !important;
					border-color: $border !important;

					[data-rich-text-placeholder]::after {
						color: $color;
						opacity: 1;
					}
				}
			}
		}
	}
}

// WooCommerce
.wc-block-grid .wc-block-grid__products .wc-block-grid__product {
	padding: 0 28px 0 0;
	margin: 0 0 24px;

	.wc-block-grid__product-title {
		padding: 0.5em 0;
		margin-bottom: 0;
		font-size: 1em;
		font-weight: 500;
		color: $body-color;
	}
	.wc-block-grid__product-price.price {
		margin-bottom: 0.5em;
		color: #555;
		font-size: 0.9em;
		line-height: 1.5;
	}
	.wc-block-grid__product-rating {
		line-height: 1.5;
		margin-bottom: 0.5em;
		.star-rating span::before {
			color: #f7de00;
		}
	}
	.wc-block-grid__product-image {
		margin-bottom: 0.5em;
		img {
			border-radius: 7px;
		}
	}
}

// WooCommerce product grid font size
.wc-block-grid.has-4-columns:not(.alignwide):not(.alignfull)
	.wc-block-grid__product {
	font-size: 1rem;
}

// WooCommerce product grid alignfull
.wc-block-grid.alignfull {
	padding-left: 15px;
}

// Easy Digital Downloads
.editor-styles-wrapper .edd_downloads_list {
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: 0;
	grid-row-gap: 0;

	// breakpoints for up to 1 columns
	&.edd_download_columns_1 {
		grid-template-columns: 0;
		.edd_download {
			width: 100%;
		}
	}
	// breakpoints for 2 columns
	&.edd_download_columns_2,
	&.edd_download_columns_3,
	&.edd_download_columns_4,
	&.edd_download_columns_5,
	&.edd_download_columns_6 {
		grid-template-columns: 0;
		.edd_download {
			width: 100%;
			@media (min-width: 576px) {
				width: 50%;
			}
		}
	}
	// breakpoint for 3 columns
	&.edd_download_columns_3,
	&.edd_download_columns_4,
	&.edd_download_columns_5,
	&.edd_download_columns_6 {
		.edd_download {
			@media (min-width: 992px) {
				width: 33%;
			}
		}
	}
	// breakpoint for 4 columns
	&.edd_download_columns_4 {
		.edd_download {
			@media (min-width: 1200px) {
				width: 25%;
			}
		}
	}
	// breakpoint for 5 columns
	&.edd_download_columns_5 {
		.edd_download {
			@media (min-width: 1200px) {
				width: 20%;
			}
		}
	}
	// breakpoint for 6 columns
	&.edd_download_columns_6 {
		.edd_download {
			@media (min-width: 1200px) {
				width: 16.6%;
			}
		}
	}
	.edd_download_inner {
		display: flex;
		display: -webkit-box;
		flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		width: 100%;
		height: 100%;
		padding: 1rem;
	}
	.edd_download_image {
		margin: 0 0 1rem 0;
		+ .edd_download_title {
			margin-top: 0;
		}
	}
	.edd_download_title a {
		color: $body-color;
		&:hover {
			color: $body-color;
		}
	}
	.edd_download_excerpt p {
		color: $secondary;
		margin: 0 0 1rem;
		font-size: 15px;
	}
	div.edd_price {
		margin-top: auto !important;
		color: #555;
	}
	div.edd_price + .components-disabled {
		margin-top: 0;
	}
	.components-disabled {
		margin-top: auto;
	}
	.edd_download_purchase_form {
		.edd_price_options {
			display: none;
		}
		a.edd-add-to-cart {
			@include c-btn;
			@include c-btn-lg;
			@include c-btn-block;
		}
	}
}
