// Import Bootstrap
@import "variables";
@import "../src/sass/bootstrap4/functions";
@import "../src/sass/bootstrap4/variables";
@import "../src/sass/bootstrap4/mixins";
@import "../src/sass/bootstrap4/buttons";

// Full block width
.wp-block[data-align="full"] {
    max-width: none;
}

// Titles
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.editor-styles-wrapper .editor-writing-flow .editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper .editor-writing-flow .wp-block-heading h1,
.editor-styles-wrapper .editor-writing-flow .wp-block-heading h2,
.editor-styles-wrapper .editor-writing-flow .wp-block-heading h3,
.editor-styles-wrapper .editor-writing-flow .wp-block-heading h4,
.editor-styles-wrapper .editor-writing-flow .wp-block-heading h5 {
  color: #222222;
}

.editor-styles-wrapper .editor-writing-flow {
  color: #222222;
}

// Separators
.wp-block-separator {
  border-bottom: 2px solid rgba(0,0,0,.2);
  &.is-style-wide {
    border-bottom-width: 1px;
  }
}

// Cover block text width
.wp-block-cover-image {
  .wp-block-cover-image-text, 
  .wp-block-cover-text, 
  h2, 
  h3,
  h4,
  h5,
  h6 {
    max-width: 100%;
  }
}
.wp-block-cover {
  .wp-block-cover-image-text, 
  .wp-block-cover-text, 
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 100%;
  }
}

// Blockquotes block
blockquote.wp-block-quote {
  padding: 10px 20px;
  border-left: 5px solid #aaa;
  .wp-block-quote__citation {
    color: #555;
    font-size: 80%;
    margin-top: .5em;
    line-height: 1.4;
  }
}

// Pull quote block
.wp-block-pullquote {
  border-top: 0;
  border-bottom: 0;
  blockquote {
    padding: 10px 20px;
    border-left: 5px solid #aaa;
    p {
      margin-bottom: 1rem;
    }
  }
  .wp-block-pullquote__citation, .wp-block-pullquote cite, .wp-block-pullquote footer {
    color: #555;
    text-transform: none;
  }
}

// Classic editor block
.wp-block-freeform.block-library-rich-text__tinymce {
  // Titles
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }
  // Paragraphs
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  // Blockquote
  blockquote {
    border-left: 5px solid #aaa;
    padding: 10px 20px;
    margin-left: 0;
  }
  // Definitions
  dt {
    font-weight: 700;
  }
  dd {
    margin-left: 0;
    margin-bottom: .5rem;
  }
  // Code
  code {
    padding: .202em .5407911001em;
    margin: 0;
    border-radius: 0;
    color: #444;
    background: rgba(0,0,0,.05);
    font-size: 87.5%;
  }
  pre {
    color: #444;
    background: rgba(0,0,0,.05);
    padding: 1em;
    max-width: 100%;
    overflow: auto;
    white-space: pre;
  }
  // keyboard text
  kbd {
    padding: .2rem .4rem;
    font-size: 87.5%;
    color: $white;
    background-color: #212529;
    border-radius: .2rem;
  }
}

// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors: (
  'primary' : #007BFF,
  'secondary' : #6c757d,
  'success' : #019875,
  'danger' : #dc3545,
  'warning' : #ffc107,
  'info' : #17a2b8,
  'light' : #f8f9fa,
  'dark' : #151B26,
);

@each $name, $color in $colors {

  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}

// Button block
.wp-block-button {

  // universal button styles
  .wp-block-button__link {
    border-radius: .25rem;
    &:hover {
      text-decoration: none;
    }
    @extend .btn;
  }
  
  // button styles if none defined
  .wp-block-button__link {
    &:not(.has-background) {
      @extend .btn-primary;
    }
    // Get user defined colors
    @each $name, $color in $colors {
      &.has-#{$name}-background-color {
        @extend .btn-#{$name};
      }   
    }
  }

  &.is-style-c-default {
    .wp-block-button__link {
      &:not(.has-background) {
        @extend .btn-primary;
      }
      // Get user defined colors
      @each $name, $color in $colors {
        &.has-#{$name}-background-color {
          @extend .btn-#{$name};
        }   
      }
    }
  }

  &.is-style-c-full-width {
  	display: block;
    .wp-block-button__link {
      @extend .btn-block;
      &:not(.has-background) {
        @extend .btn-primary;
      }
      // Get user defined colors
      @each $name, $color in $colors {
        &.has-#{$name}-background-color {
          @extend .btn-#{$name};
        }
      }
    }
  }
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product {
  padding: 0 28px 0 0;
  
  .wc-block-grid__product-title {
    padding: .5em 0;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 500;
    color: #222222;
  }
  .wc-block-grid__product-price.price {
    margin-bottom: .5em;
    color: #555;
    font-size: .9em;
    line-height: 1.5;
  }
  .wc-block-grid__product-rating {
    line-height: 1.5;
    margin-bottom: .5em;
    .star-rating span::before {
      color: #f7de00;
    }
  }
  .wc-block-grid__product-image {
    margin-bottom: .5em;
    img {
      border-radius: 7px;
    }
  }

}