# Sass
.sass-cache

# Grunt
/node_modules/
npm-debug.log

# Composer
composer.phar
/vendor/squizlabs/
/vendor/wp-coding-standards/
/vendor/dealerdirect/
/vendor/bin/

# macOS
.DS_Store

conversions.zip