# Sass
.sass-cache

# Grunt
/node_modules/
npm-debug.log

# Composer
composer.phar
/vendor/squizlabs/
/vendor/wp-coding-standards/
/vendor/dealerdirect/
/vendor/bin/
/vendor/tgmpa/tgm-plugin-activation/languages/
/vendor/tgmpa/tgm-plugin-activation/plugins/
/vendor/tgmpa/tgm-plugin-activation/.editorconfig
/vendor/tgmpa/tgm-plugin-activation/.scrutinizer.yml
/vendor/tgmpa/tgm-plugin-activation/.travis.yml
/vendor/tgmpa/tgm-plugin-activation/CHANGELOG.md
/vendor/tgmpa/tgm-plugin-activation/composer.json
/vendor/tgmpa/tgm-plugin-activation/CONTRIBUTING.md
/vendor/tgmpa/tgm-plugin-activation/example.php
/vendor/tgmpa/tgm-plugin-activation/LICENSE.md
/vendor/tgmpa/tgm-plugin-activation/phpcs.xml
/vendor/tgmpa/tgm-plugin-activation/README.md



# macOS
.DS_Store

conversions.zip