# Sass
.sass-cache

# Grunt
/node_modules/
npm-debug.log

# Composer
composer.phar
/vendor/squizlabs/
/vendor/wp-coding-standards/
/vendor/dealerdirect/
/vendor/bin/
/vendor/wptt/webfont-loader/.gitattributes
/vendor/wptt/webfont-loader/LICENSE
/vendor/wptt/webfont-loader/README.md

# VSCode
.vscode

# macOS
.DS_Store

conversions.zip